
# ENDTERM DATA CLEANING

Introduction: **The Air Pollution Index (A.K.A Air Quality index)** is a tool developed by government agencies to measure and communicate to the public about **how polluted the air currently is or how polluted it is forecasted to become**. As pollution levels rise, so will the **API/AQI**

How it works: The **AQI** includes six color-coded categories, each corresponding to a range of index values. The higher the AQI value, the greater the level of air pollution and the greater the health concern. For example, an AQI value of 50 or below represents good air quality, while an AQI value over 300 represents hazardous air quality.

Name: **Andrei Kyo D. Medel** <br>
Course: **BSCpE2A**

This section contains the cleaning of the raw uncleaned data set taken from Kaggle.com Under the profile of *Shruthi*

The dataset contains the tracked information of the **Air Quality of various cities in Asia** (2164 cities) on the **Year 2023**

import **pandas**,  **numpy** and **matplotlib**

In [499]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Overview of the data set

here we will display the general overview of the uncleaned data set for Air pollution index and rankings for over 2164 cities across Asia in 2023

In [500]:
df = pd.read_csv(r"C:\Users\ASUS\Documents\skool\Skool Works\MATHEDA Medel\Medel Endterm\Raw Datasets\AirQuality Dataset Uncleaned.csv",
                 delimiter=",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2164 entries, 0 to 2163
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2164 non-null   int64
 1   City     2164 non-null   object
 2   Country  2164 non-null   object
 3   2023     2164 non-null   float64
 4   Jan      2164 non-null   object
 5   Feb      2164 non-null   object
 6   Mar      2164 non-null   object
 7   Apr      2164 non-null   object
 8   May      2164 non-null   object
 9   Jun      2164 non-null   object
 10  Jul      2164 non-null   object
 11  Aug      2164 non-null   object
 12  Sep      2164 non-null   object
 13  Oct      2164 non-null   object
 14  Nov      2164 non-null   object
 15  Dec      2164 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 270.6+ KB

The Data types for the year in this data set here are currently objects which will be converted into numeric data types later on.

data set overview

In [501]:
df.head()

,Rank,City,Country,2023,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1,Begusarai,India,118.9,31.2,235.3,156.8,113,109.3,99,63.8,61.8,71.5,61.8,210.5,285
1,2,Guwahati,India,105.4,220.2,168.1,129.2,112.2,69.5,51.3,46.6,60.2,76.7,76.4,126.9,128
2,3,Delhi,India,102.1,171.8,114.3,77.4,71,67.4,42.9,35.3,34.8,39.7,106.3,255.1,210
3,4,Mullanpur,India,100.4,106.3,123.7,78.1,56.6,53.4,53.9,63.2,59.7,59.6,110.4,253,201.4
4,5,Lahore,Pakistan,99.5,143.2,117.3,73.8,52.9,52.4,46.4,39.8,42.2,53.8,125.9,251,197.5

Rename columns for more clarity

In [502]:
df = df.rename(columns={'2023' : 'Year'})

In [503]:
df.head()

,Rank,City,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1,Begusarai,India,118.9,31.2,235.3,156.8,113,109.3,99,63.8,61.8,71.5,61.8,210.5,285
1,2,Guwahati,India,105.4,220.2,168.1,129.2,112.2,69.5,51.3,46.6,60.2,76.7,76.4,126.9,128
2,3,Delhi,India,102.1,171.8,114.3,77.4,71,67.4,42.9,35.3,34.8,39.7,106.3,255.1,210
3,4,Mullanpur,India,100.4,106.3,123.7,78.1,56.6,53.4,53.9,63.2,59.7,59.6,110.4,253,201.4
4,5,Lahore,Pakistan,99.5,143.2,117.3,73.8,52.9,52.4,46.4,39.8,42.2,53.8,125.9,251,197.5

# **Distinct** Values

Distinct values for each month as well as the city and country including the annual **API**

## Cities

In [504]:
df['City'].unique

<bound method Series.unique of 0         Begusarai
1          Guwahati
2             Delhi
3         Mullanpur
4            Lahore
           ...
2159    Zhezqazghan
2160         Mamuju
2161    Kuyulusebil
2162    Shchuchinsk
2163            Chu
Name: City, Length: 2164, dtype: object>

In [505]:
df['City'].nunique()

2106

## Countries

In [506]:
df['Country'].unique()

array(['India', 'Pakistan', 'China', 'Bangladesh', 'Indonesia',
       'Kazakhstan', 'Tajikistan', 'Vietnam', 'Kyrgyzstan',
       'United Arab Emirates', 'Thailand', 'Nepal', 'Turkey',
       'Saudi Arabia', 'Iraq', 'Kuwait', 'Bahrain', 'Qatar', 'Malaysia',
       'Laos', 'Sri Lanka', 'Uzbekistan', 'Myanmar', 'Israel',
       'South Korea', 'Armenia', 'Taiwan', 'Georgia', 'Cambodia',
       'Mongolia', 'Maldives', 'Macao SAR', 'Hong Kong SAR',
       'Philippines', 'Palestinian Territory', 'Azerbaijan', 'Japan',
       'Singapore', 'China, China'], dtype=object)

In [507]:
df['Country'].nunique()

39

## Annual

In [508]:
df['Year'].unique()

array([118.9, 105.4, 102.1, 100.4,  99.5,  92.7,  90.6,  89.4,  89.3,
        88.8,  88.6,  88.2,  87.3,  85.7,  85.3,  85. ,  84. ,  83.6,
        82.2,  81.4,  81.1,  80.9,  80.2,  79.9,  79.8,  79.7,  78.9,
        77.5,  77.4,  77.1,  76.8,  76.6,  76.5,  76.1,  75.9,  75.8,
        75.7,  75.3,  75.2,  73.1,  72.3,  71.7,  71.2,  69.9,  69.2,
        68.5,  68.4,  68.3,  67.7,  67.4,  67.3,  66.6,  66.1,  65.1,
        64.9,  64.6,  64.4,  64. ,  63.9,  62.6,  62.4,  62.2,  61.9,
        61.6,  61.5,  61.4,  60.4,  60.3,  60.1,  59.5,  59.4,  59.3,
        59.1,  59. ,  58.9,  58.8,  58.7,  58. ,  57.9,  56.7,  56.6,
        56.4,  56.3,  56.1,  56. ,  55.4,  54.7,  54.4,  54.3,  54.2,
        54.1,  53.9,  53.8,  53.5,  52.9,  52.5,  52.3,  52.2,  52.1,
        52. ,  51.9,  51.7,  51.6,  51.4,  51.3,  51.2,  51.1,  51. ,
        50.8,  50.7,  50.6,  50.3,  50.2,  49.9,  49.6,  49.5,  49.4,
        49.3,  49.1,  49. ,  48.9,  48.8,  48.7,  48.6,  48.5,  48.4,
        48.2,  48.1,  48. ,  47.9,  47.8,  47.7,  47.5,  47.3,  47.2,
        47.1,  46.9,  46.8,  46.7,  46.5,  46.4,  46.3,  46.2,  46.1,
        46. ,  45.8,  45.7,  45.5,  45.3,  45.2,  44.9,  44.8,  44.7,
        44.6,  44.5,  44.4,  44.3,  44.2,  44.1,  44. ,  43.9,  43.8,
        43.7,  43.6,  43.5,  43.4,  43.3,  43.2,  43.1,  43. ,  42.9,
        42.8,  42.7,  42.6,  42.4,  42.3,  42.2,  42. ,  41.9,  41.7,
        41.5,  41.4,  41.3,  41.2,  41. ,  40.9,  40.8,  40.7,  40.4,
        40.3,  40.2,  40.1,  40. ,  39.9,  39.8,  39.6,  39.4,  39.2,
        39. ,  38.9,  38.8,  38.7,  38.5,  38.4,  38.3,  38.2,  38.1,
        38. ,  37.9,  37.8,  37.7,  37.6,  37.5,  37.4,  37.3,  37.2,
        37.1,  37. ,  36.9,  36.8,  36.6,  36.5,  36.3,  36.2,  36.1,
        36. ,  35.9,  35.8,  35.6,  35.5,  35.4,  35.3,  35.2,  35.1,
        35. ,  34.9,  34.8,  34.7,  34.6,  34.5,  34.4,  34.3,  34.2,
        34.1,  34. ,  33.9,  33.8,  33.7,  33.6,  33.5,  33.4,  33.3,
        33.2,  33.1,  33. ,  32.9,  32.8,  32.7,  32.6,  32.5,  32.4,
        32.3,  32.2,  32.1,  32. ,  31.9,  31.8,  31.7,  31.6,  31.5,
        31.4,  31.3,  31.2,  31.1,  31. ,  30.9,  30.7,  30.6,  30.5,
        30.4,  30.3,  30.2,  30.1,  30. ,  29.9,  29.8,  29.7,  29.6,
        29.5,  29.4,  29.3,  29.2,  29.1,  29. ,  28.9,  28.8,  28.7,
        28.6,  28.5,  28.4,  28.3,  28.2,  28.1,  28. ,  27.9,  27.8,
        27.7,  27.6,  27.5,  27.4,  27.3,  27.2,  27.1,  27. ,  26.9,
        26.8,  26.7,  26.6,  26.5,  26.4,  26.3,  26.2,  26.1,  26. ,
        25.9,  25.8,  25.7,  25.6,  25.5,  25.4,  25.3,  25.2,  25. ,
        24.9,  24.8,  24.7,  24.6,  24.5,  24.4,  24.3,  24.2,  24.1,
        24. ,  23.9,  23.8,  23.7,  23.6,  23.5,  23.4,  23.3,  23.2,
        23.1,  23. ,  22.9,  22.8,  22.7,  22.6,  22.5,  22.4,  22.3,
        22.2,  22.1,  22. ,  21.9,  21.8,  21.7,  21.6,  21.5,  21.4,
        21.3,  21.2,  21.1,  21. ,  20.9,  20.8,  20.7,  20.6,  20.5,
        20.4,  20.3,  20.2,  20.1,  20. ,  19.9,  19.8,  19.7,  19.6,
        19.5,  19.4,  19.3,  19.2,  19.1,  19. ,  18.9,  18.8,  18.7,
        18.6,  18.5,  18.4,  18.3,  18.2,  18.1,  18. ,  17.9,  17.8,
        17.7,  17.6,  17.5,  17.4,  17.3,  17.2,  17.1,  16.9,  16.8,
        16.7,  16.6,  16.5,  16.4,  16.3,  16.2,  16.1,  16. ,  15.9,
        15.8,  15.7,  15.6,  15.5,  15.4,  15.3,  15.2,  15.1,  15. ,
        14.9,  14.8,  14.7,  14.6,  14.5,  14.4,  14.3,  14.2,  14.1,
        14. ,  13.9,  13.8,  13.7,  13.6,  13.5,  13.4,  13.3,  13.2,
        13.1,  13. ,  12.9,  12.8,  12.7,  12.6,  12.5,  12.4,  12.3,
        12.2,  12.1,  12. ,  11.9,  11.8,  11.7,  11.6,  11.5,  11.4,
        11.3,  11.2,  11.1,  11. ,  10.9,  10.8,  10.7,  10.6,  10.5,
        10.4,  10.3,  10.2,  10.1,  10. ,   9.9,   9.8,   9.7,   9.6,
         9.5,   9.4,   9.3,   9.2,   9.1,   9. ,   8.9,   8.8,   8.7,
         8.6,   8.5,   8.4,   8.3,   8.2,   8.1,   8. ,   7.9,   7.8,
         7.7,   7.6,   7.5,   7.4,   7.3,   7.2,   7.1,   7. ,   6.9,
         6.8,   6.7,   6.6,   6.5,   6.4,   6.3,   6.2,   6.1,   5.9,
         5.8,   5.6,   5.5,   4.9,   4.6,   4.4,   4.3,   3.7,   3.2,
         3. ,   1.5])

In [509]:
df['Year'].nunique()

533

## January

In [510]:
df['Jan'].unique()

array(['31.2', '220.2', '171.8', '106.3', '143.2', '162.6', '223.6',
       '202', '205.3', '224.1', '166.5', '92', '95', '225.3', '200.6',
       '120.3', '125.9', '155.4', '140.4', '170.1', '191.9', '143.6', ' ',
       '175.5', '134.9', '132.1', '199.8', '137', '162.8', '104.7',
       '99.3', '137.6', '125.2', '135.9', '132.6', '91.5', '159.5',
       '153.4', '185.6', '90.5', '161.8', '107', '44.8', '101.6', '155.9',
       '82.4', '81.7', '133.4', '88.6', '75.6', '77.8', '67.8', '180.6',
       '80', '63.2', '85.7', '164.3', '80.9', '97.3', '154.9', '127.5',
       '128.7', '89', '91.2', '184.5', '117.2', '99.8', '91', '96.1',
       '95.8', '87.8', '89.9', '149', '152.9', '78', '79.5', '148.7',
       '156.8', '145.7', '111.3', '214.1', '124.2', '98.9', '88.9',
       '107.7', '105.9', '56.3', '27.1', '60', '76.9', '55', '86.9',
       '82.2', '81.9', '24.2', '78.4', '39.2', '108.7', '74.7', '186.2',
       '76.8', '66.1', '116.6', '84.9', '110.6', '38.4', '27.6', '90.4',
       '29.5', '90.6', '81.1', '86.8', '34.1', '63.4', '82', '81.3',
       '76.6', '64.6', '123.2', '79.9', '91.8', '64', '94.8', '53.7',
       '156.7', '105.5', '58.8', '99', '96.4', '104', '134.4', '100.6',
       '113.8', '68.7', '104.2', '105.8', '82.8', '122.7', '108', '92.2',
       '98.2', '76.5', '114', '119.3', '108.8', '56.4', '59.6', '73.2',
       '177.2', '162.3', '117.6', '66.8', '88.5', '68.9', '56.7', '94.1',
       '59.3', '48.7', '68.8', '30.7', '84.4', '54.3', '94.5', '102.9',
       '74.5', '64.4', '102.2', '107.6', '65.3', '20.4', '93.7', '102',
       '78.1', '97.5', '98.4', '84.6', '60.7', '105', '76.4', '104.4',
       '94.6', '55.2', '78.8', '60.5', '68.2', '89.3', '55.5', '94',
       '57.3', '78.5', '33.3', '64.1', '85.5', '98.3', '20.6', '73.8',
       '25', '62.6', '72.5', '78.2', '83.4', '72.7', '72.3', '74.2',
       '49.2', '102.1', '70', '54.9', '72', '75.9', '67.4', '56.5',
       '58.5', '21.7', '76.2', '73.3', '70.4', '36.6', '64.9', '97.7',
       '52.5', '83.8', '56.9', '101.4', '90', '80.5', '112.2', '64.3',
       '29.6', '25.1', '79.1', '67.9', '39.8', '53.8', '92.1', '100.8',
       '49.9', '74.8', '81.5', '59', '67.5', '52.4', '75.8', '61.2',
       '67.3', '44.5', '82.5', '58.6', '56.8', '58.2', '42.4', '58.9',
       '23', '33.8', '62.3', '52.6', '99.7', '53.4', '72.9', '47.6', '79',
       '51.4', '72.1', '61.1', '102.8', '62.5', '126.2', '76.1', '52.2',
       '68.3', '58.4', '25.4', '78.3', '48.2', '34.5', '34.4', '54',
       '74.6', '47', '161.6', '53.2', '59.5', '45.4', '45', '60.4',
       '20.1', '43', '44.9', '27.9', '31.4', '73.9', '57.9', '72.8',
       '38.5', '28.7', '51.3', '82.6', '66.3', '29.4', '39.6', '77.9',
       '71.9', '56', '36.4', '49.6', '49.5', '51.2', '77.3', '77.6',
       '51.6', '69.8', '74.3', '44.1', '45.6', '77.4', '10.4', '64.7',
       '49.8', '53', '57.6', '18.6', '82.3', '47.3', '89.4', '46.6',
       '85.4', '35.6', '112.9', '48.5', '46.5', '69.6', '33.6', '45.5',
       '37.2', '52.3', '45.8', '23.5', '25.8', '18.7', '50.4', '130',
       '32', '43.9', '66.9', '50.2', '55.4', '46.4', '23.4', '41.9',
       '219.2', '38.1', '66.7', '42.6', '36.1', '54.1', '87.3', '59.9',
       '34.7', '42.2', '50.7', '26.6', '41.8', '79.2', '64.2', '44.3',
       '24.9', '51.7', '4', '37.7', '43.4', '80.8', '33.1', '33.2',
       '39.3', '57', '51.1', '46.3', '39.9', '31.6', '41.6', '60.6',
       '44.2', '48.9', '45.2', '23.1', '38.7', '36.8', '45.7', '41.7',
       '104.9', '41.3', '43.1', '85.8', '41.2', '62.7', '43.3', '52.7',
       '40.1', '42.3', '43.5', '65.5', '43.8', '41.5', '42.7', '29.1',
       '47.7', '46', '70.9', '26.8', '49.7', '48.6', '119.8', '38.8',
       '45.1', '38.2', '49.1', '28.1', '32.2', '46.7', '67', '37.1', '40',
       '70.7', '43.6', '23.6', '50.1', '55.7', '37', '55.1', '41.1', '35',
       '42.8', '48.8', '34.9', '26.5', '65.2', '35.1', '39.4', '35.3',
       '81.6', '22.1', '43.2', '12.8', '36.5', '93.2', '38', '67.7',
       '70.3', '22.8', '47.4', '46.1', '39.7', '54.8', '42.9', '21.8',
       '32.8', '42.1', '47.8', '25.9', '32.4', '25.3', '74.1', '55.6',
       '52', '34', '20.8', '65.4', '21.6', '40.4', '26.3', '49', '21.1',
       '33.4', '65.6', '53.5', '45.9', '46.9', '127.8', '35.4', '50',
       '16.9', '29', '36.7', '27.2', '9.8', '30', '36', '32.6', '40.9',
       '23.2', '44.7', '19.6', '35.5', '35.8', '23.3', '31.9', '30.9',
       '112.8', '30.4', '40.7', '28.9', '48', '33.5', '31.5', '33.7',
       '35.9', '73', '47.1', '54.6', '30.5', '28.3', '17.4', '34.3',
       '44.6', '44', '85.1', '20.9', '29.9', '63.9', '35.7', '31.3',
       '79.3', '34.8', '22.5', '57.8', '24.5', '40.8', '37.5', '40.6',
       '60.2', '8.4', '33', '37.3', '32.5', '32.7', '33.9', '65.1',
       '13.1', '131.9', '34.2', '11', '25.2', '16.5', '28.4', '27.5',
       '36.2', '28.5', '28', '22.9', '18.5', '18.1', '16.6', '9.3',
       '26.7', '66', '31.1', '22', '52.1', '19.9', '34.6', '15', '74.4',
       '26.9', '27.3', '39', '26.1', '31.8', '74', '36.9', '36.3', '15.1',
       '28.8', '5.9', '24', '28.6', '26.2', '28.2', '30.1', '30.8',
       '30.6', '29.2', '9', '19.5', '27.7', '29.8', '16.7', '62.1', '19',
       '25.7', '21.9', '16.8', '13.2', '40.2', '13.9', '13.7', '27', '26',
       '25.6', '24.3', '24.7', '29.3', '15.8', '18.2', '25.5', '22.7',
       '29.7', '14.6', '24.4', '3', '21.3', '23.9', '4.9', '18.4', '30.3',
       '53.3', '16.3', '23.8', '24.1', '14.8', '37.4', '19.2', '21.4',
       '17.9', '27.4', '21.2', '23.7', '17.7', '11.9', '26.4', '17.2',
       '24.6', '12', '21', '21.5', '16.1', '3.9', '18.9', '14.1', '22.3',
       '22.6', '20.5', '15.2', '19.7', '13.6', '8.9', '27.8', '60.1',
       '20.2', '15.6', '24.8', '9.4', '12.4', '7.3', '18', '9.6', '15.7',
       '14.9', '10.5', '14', '4.7', '14.4', '17.3', '17.6', '10.7',
       '12.3', '17.1', '17.8', '15.3', '19.8', '15.9', '7.5', '16.4',
       '11.4', '13', '16', '5.7', '20.3', '22.4', '19.1', '18.8', '14.3',
       '16.2', '11.5', '12.1', '19.3', '14.5', '15.4', '32.1', '14.7',
       '14.2', '18.3', '32.3', '9.1', '9.7', '10.6', '11.3', '17.5',
       '12.9', '19.4', '10.3', '13.5', '6.8', '13.8', '32.9', '9.2',
       '12.6', '6.3', '13.3', '10.1', '11.7', '8.5', '12.7', '11.8',
       '7.6', '11.1', '6.2', '12.2', '10', '6', '10.9', '9.5', '11.6',
       '11.2', '9.9', '8.3', '10.8', '13.4', '12.5', '6.4', '7.7', '8.7',
       '6.7', '8.2', '10.2', '5.8', '8.8', '8', '6.6', '7.4', '8.1',
       '8.6', '7.1', '7', '6.9', '7.9', '7.2', '7.8', '6.1', '5.3', '4.6',
       '5.2', '5.6', '5.1', '6.5', '5.5', '3.1', '5', '4.8', '3.2', '4.1',
       '1', '4.5', '4.4', '3.8', '5.4', '3.4', '0.9', '1.4'], dtype=object)

In [511]:
df['Jan'].nunique()

768

## February

In [512]:
df['Feb'].unique()

array(['235.3', '168.1', '114.3', '123.7', '117.3', '98.2', '167.5',
       '147.1', '117.5', '113.3', '85.9', '106.5', '63.9', '162.6',
       '154.5', '95.6', '73.7', '103.7', '73.6', '112.5', '123', '101.7',
       '90.2', '107', '79.7', '78.8', '105.7', '103.5', '117.8', '105.9',
       '74', '93.5', '98.3', '78.7', '79.8', '76.3', '115', '116.6',
       '96.1', '65', '104.3', '68.3', '31.9', '68.7', '112.9', '143.5',
       '53.9', '60.4', '83.9', ' ', '66.4', '99.9', '55.9', '61.5',
       '56.4', '70.1', '95.8', '93', '54.4', '50.4', '86.7', '79.1',
       '65.4', '82.2', '64.4', '86.9', '55.8', '69.4', '85.8', '80.7',
       '63', '76', '86.1', '70.5', '67.1', '72.7', '62.3', '77.4', '68.6',
       '63.7', '57.4', '104', '120.6', '106.2', '97.7', '96', '65.1',
       '56.6', '97.1', '50.9', '80.9', '65.5', '38.7', '24.3', '39.4',
       '54', '62', '65.2', '36.1', '58', '77.7', '41.2', '51.1', '75.6',
       '89.6', '80.3', '51.3', '143.3', '49.8', '52.5', '103.9', '49.9',
       '71.5', '80', '83.8', '57.8', '84.5', '73.2', '22.9', '71.1',
       '71.7', '85.3', '71.2', '75.3', '98.8', '80.4', '76.8', '46.9',
       '50.8', '56', '142.6', '69.6', '36.7', '67.9', '66.6', '84',
       '104.4', '79.5', '72.4', '94.9', '60.2', '63.1', '65.8', '54.6',
       '71.4', '75.4', '82.4', '65.9', '45.3', '43.2', '43.3', '121.8',
       '81.3', '66.3', '68.2', '88.8', '72', '47.9', '67.8', '68.1',
       '81.6', '59.9', '46.1', '38.5', '67.4', '60.1', '99', '43.4', '66',
       '82.9', '60.8', '50', '77.1', '76.5', '60.5', '63.4', '72.6',
       '53.1', '41.1', '69.8', '74.2', '62.4', '59', '53.5', '60.3',
       '77.6', '61.9', '19.2', '56.7', '32.5', '52', '63.8', '75.5',
       '59.8', '66.1', '59.4', '36.2', '48.9', '55.3', '55.1', '48.5',
       '46.7', '62.8', '61.6', '47.8', '73.5', '47.5', '33.5', '60',
       '74.3', '59.1', '64.2', '85.2', '125.5', '76.1', '40.1', '64.1',
       '34.1', '65.3', '14.6', '71', '50.2', '72.9', '36.8', '62.7',
       '74.7', '72.2', '57.7', '63.6', '70.7', '57.1', '34.3', '88',
       '69.7', '42.5', '66.8', '54.1', '35.3', '76.7', '69.1', '17.8',
       '11.1', '47.1', '78.1', '60.6', '53', '61.3', '34.9', '58.4',
       '45.5', '54.9', '45.9', '53.2', '73.1', '55.6', '48.2', '26.8',
       '57.6', '34.2', '55.7', '44', '58.6', '49.5', '42.3', '50.3', '43',
       '13.3', '32', '46.5', '64', '38.2', '53.8', '68.9', '41.4', '58.8',
       '47.7', '54.3', '25.4', '49.6', '19.5', '64.6', '74.6', '58.5',
       '39.6', '35.7', '42.1', '52.4', '17.2', '49', '55.5', '57.5',
       '53.4', '60.9', '32.6', '43.6', '53.6', '17.7', '42', '52.8',
       '40.8', '37.3', '21.6', '51.7', '41.9', '26.7', '37.9', '53.7',
       '41.3', '45.2', '58.1', '56.5', '44.8', '72.3', '31.3', '56.9',
       '34.8', '34.5', '42.7', '47.6', '50.5', '46.8', '44.6', '35.4',
       '45.7', '46.2', '42.8', '40.3', '29.5', '50.6', '37.5', '23.9',
       '54.5', '44.1', '32.9', '59.2', '48.6', '37.6', '50.1', '33.7',
       '45.6', '46.6', '45.8', '39', '35', '17.9', '3', '35.9', '46.4',
       '51.4', '40.2', '42.2', '63.5', '52.2', '33.4', '46.3', '38.3',
       '23.3', '52.6', '33.1', '33.6', '78', '48.8', '38.6', '55.2',
       '48.1', '30.8', '40.9', '58.7', '42.6', '36.9', '17.6', '78.5',
       '37.4', '49.7', '44.7', '57.2', '47', '40.6', '34.6', '38.9',
       '52.1', '45.4', '41.8', '44.4', '54.2', '58.2', '25.1', '59.3',
       '43.8', '15.8', '62.6', '43.7', '35.1', '33.3', '30.9', '41.7',
       '31.4', '34.7', '25.6', '33', '23.6', '37.2', '33.2', '37.8', '41',
       '39.9', '43.9', '27.8', '20.8', '13', '51.8', '38.8', '50.7',
       '39.5', '30.1', '45', '42.4', '28.8', '29', '28', '21.1', '25.9',
       '44.2', '37.1', '40.4', '62.1', '51.6', '16.7', '29.3', '18.6',
       '27.7', '29.7', '76.4', '35.5', '20.4', '40', '39.3', '69.5',
       '33.9', '47.4', '18.4', '45.1', '13.2', '44.9', '54.8', '24.5',
       '49.4', '20.7', '26', '35.6', '28.1', '55', '14.7', '27.2', '31.7',
       '32.4', '30.3', '31.6', '29.4', '36.5', '31', '37', '39.8', '22.7',
       '19.8', '30.2', '32.1', '22.8', '31.8', '32.7', '36', '26.3',
       '25.2', '39.2', '51.9', '25.8', '13.9', '29.2', '19.9', '29.8',
       '24.1', '19.7', '40.5', '26.4', '31.1', '7.9', '23.8', '36.4',
       '13.5', '36.3', '31.2', '21.7', '16.9', '19.4', '20.3', '34.4',
       '27.9', '52.3', '22', '20.1', '28.5', '38', '28.7', '7.8', '30.5',
       '38.4', '23.1', '38.1', '22.5', '20.5', '33.8', '18.3', '32.8',
       '24.8', '6', '67.2', '26.1', '20.2', '36.6', '27.5', '27.3',
       '30.6', '17', '22.1', '21.4', '25.5', '16.5', '27', '15.2', '13.8',
       '15.6', '23', '30', '34', '28.3', '18.5', '29.1', '23.2', '23.5',
       '20', '22.2', '24.9', '9.9', '35.2', '15.3', '13.7', '26.6',
       '27.6', '32.3', '24.6', '26.5', '16.3', '27.1', '14.1', '29.9',
       '18.1', '27.4', '2.3', '31.5', '4.1', '17.1', '15.7', '16.4',
       '14.3', '14.4', '18.2', '21.9', '17.4', '18', '28.9', '15.9',
       '17.5', '8.5', '37.7', '26.9', '21.2', '24.2', '19.6', '30.4',
       '12.8', '7.3', '21', '21.3', '16.1', '18.9', '13.4', '14.8',
       '28.6', '49.2', '21.8', '22.6', '15', '16', '9.5', '8.9', '10.8',
       '13.6', '22.4', '18.8', '19', '20.6', '10.2', '12', '14.5', '14.2',
       '12.6', '10.4', '12.1', '16.2', '12.7', '9.3', '10.1', '15.5',
       '12.2', '28.2', '26.2', '12.4', '17.3', '8.2', '6.9', '12.9',
       '23.4', '11.8', '25.3', '12.5', '15.1', '23.7', '10.9', '9.6',
       '12.3', '11.4', '11.7', '16.8', '19.3', '14.9', '8.8', '11.2',
       '8.6', '10', '9.4', '6.2', '16.6', '10.3', '14', '9.7', '11',
       '11.9', '7.5', '6.3', '11.6', '9.8', '8.7', '5.5', '10.6', '9',
       '9.2', '10.7', '9.1', '11.5', '7.6', '8.3', '7', '10.5', '11.3',
       '8.4', '7.4', '7.1', '6.1', '4.8', '8.1', '7.2', '7.7', '8', '6.7',
       '13.1', '6.8', '6.4', '5.7', '5.9', '6.6', '6.5', '5.3', '5.8',
       '5.6', '5.1', '5.2', '4.6', '4.4', '5.4', '0.9', '19.1', '4.9',
       '4.3', '3.4', '3.1', '4.5', '4', '0.8', '1.5'], dtype=object)

In [513]:
df['Feb'].nunique()

699

## March

In [514]:
df['Mar'].unique()

array(['156.8', '129.2', '77.4', '78.1', '73.8', '67.1', '108.3', '108.8',
       '63.8', '94', '64.4', '66.5', '99.9', '118.6', '103', '81.9',
       '64.3', '84.6', '52.3', '83.3', '87.6', '76.6', '73.6', '82.5',
       '70.1', '57.6', '80.8', '73.4', '84.3', '96.7', '68.1', '55',
       '77.9', '53.3', '58.8', '75.3', '106.8', '77.6', '56.9', '59.1',
       '91', '65.7', '71.6', '98.4', '45', '44.9', '59', '73.3', '43.1',
       '74.1', '62', '78.9', '62.1', '51.3', '61.4', '58.5', '39.3',
       '38.8', '61.2', '46.9', '93.8', '55.1', '71.8', '74.2', '127.3',
       '48.5', '57.1', '88.4', '51.8', '46.1', '69.5', '74.3', '55.2',
       '43.5', '54', '49.8', '46.3', '61.9', '54.1', '98.2', '50.3',
       '66.2', '53.9', '67.9', '60.5', '53.5', '49.2', '47.7', '26.6',
       '51.7', '36.8', '65.8', '69.9', '42.6', '37.9', '42.9', '45.5',
       '39.1', ' ', '88.7', '27.8', '52.2', '130.5', '60.6', '59.6',
       '79.9', '125.4', '53.7', '67.2', '42.7', '45.9', '41.5', '41',
       '56.7', '24.8', '50.1', '179.3', '32.2', '145.4', '59.4', '60.7',
       '61.7', '39.6', '59.7', '60.8', '63', '55.5', '56.6', '72.6',
       '71.7', '32', '70.6', '35.6', '50.9', '55.4', '43.7', '65', '58.7',
       '58.9', '54.9', '55.9', '81.8', '32.6', '47.2', '56.4', '44.5',
       '58.2', '54.3', '53.2', '55.6', '36.7', '37.6', '48.8', '53.6',
       '64.1', '40.9', '57.8', '37', '74', '46.4', '161.4', '58.3',
       '40.1', '24.2', '54.8', '52.5', '38.3', '163.3', '53', '51.5',
       '42.3', '60', '50', '42', '32.1', '44.8', '55.3', '33.7', '66.4',
       '56.8', '117.8', '31.6', '61', '32.3', '54.2', '31.2', '54.4',
       '39.8', '45.1', '49.6', '56', '55.7', '69.1', '84.2', '57.2',
       '63.7', '38.1', '43.4', '57.3', '49.7', '59.2', '31.9', '106.7',
       '59.8', '35.3', '62.3', '32.4', '25.3', '52.4', '51.4', '58.1',
       '45.8', '54.7', '42.8', '59.5', '48.4', '48.1', '27.9', '17.1',
       '36.2', '66', '123.4', '25.6', '38', '70.3', '56.3', '47.4',
       '38.2', '41.6', '60.1', '66.3', '28.6', '99.2', '62.7', '41.1',
       '48.6', '37.1', '102', '40.2', '34.8', '144.8', '2.2', '49.5',
       '49', '37.5', '50.4', '46.5', '64', '27.5', '43.2', '45.7', '44.7',
       '56.1', '39.4', '30.5', '50.8', '28.4', '53.8', '66.6', '39.7',
       '98.1', '103.4', '35', '45.6', '56.2', '36.6', '48.7', '30.7',
       '108.9', '47.5', '23.2', '48.9', '103.7', '106.1', '29.2', '39',
       '53.4', '98.8', '101.7', '30.1', '50.7', '24.7', '33', '15.4',
       '47.9', '100', '46.7', '119.7', '83.6', '40.3', '49.1', '14.3',
       '46.6', '32.5', '62.5', '28.1', '38.9', '24', '47.3', '19.6',
       '48.3', '42.1', '24.4', '40.5', '32.9', '39.2', '47', '45.3',
       '114.5', '58.6', '40.8', '102.8', '30.9', '85', '20.3', '107.8',
       '59.3', '95.1', '26.8', '25.2', '28.2', '80.1', '48', '33.4',
       '32.7', '44.1', '31.5', '105.5', '23.5', '35.5', '98.5', '36.5',
       '29.4', '29.1', '93.9', '50.6', '97.8', '36', '63.6', '31.1', '31',
       '110.6', '63.4', '57', '25.8', '45.2', '28.9', '43.8', '15.7',
       '41.8', '2.3', '33.2', '87.2', '40.6', '41.4', '43', '17.7',
       '44.3', '96.5', '30.3', '37.3', '19.9', '87.1', '37.2', '36.1',
       '120.2', '252.5', '131.7', '80.6', '24.1', '40.4', '42.5', '37.4',
       '37.7', '80.4', '34.4', '38.4', '15.1', '69.8', '88.5', '29.6',
       '42.2', '93.3', '35.9', '32.8', '50.2', '21.6', '26.3', '89.2',
       '78.5', '71', '58', '73.7', '27.1', '24.6', '34.6', '30.8', '63.5',
       '34.2', '34.3', '43.3', '75.4', '35.4', '34.1', '34.9', '25.5',
       '17.2', '33.3', '22.1', '41.2', '12.4', '41.9', '31.8', '36.3',
       '35.8', '31.3', '80.5', '19.7', '16.4', '38.6', '30.6', '68.2',
       '17.4', '28.3', '42.4', '23.4', '24.3', '21.9', '33.5', '73.9',
       '25.4', '33.9', '15.9', '37.8', '34.7', '52.9', '29.8', '17.9',
       '61.1', '27.7', '27.4', '12.7', '29', '21.5', '43.9', '35.7', '20',
       '82.7', '47.8', '27.3', '24.9', '36.4', '66.1', '26.4', '22.8',
       '72.8', '26', '23.7', '15.2', '26.9', '47.1', '24.5', '27.2',
       '33.1', '16.1', '25.7', '29.5', '25.9', '22.9', '28', '23.8',
       '54.6', '31.7', '30.2', '22.5', '26.5', '23.9', '46.2', '25.1',
       '21.4', '73', '21.1', '28.7', '41.3', '23.1', '74.5', '18.2',
       '12.6', '15.5', '28.5', '71.1', '18.9', '19.1', '27', '40', '15.8',
       '21.8', '13.8', '29.9', '21.2', '20.6', '18.6', '19', '35.1',
       '14.5', '23.6', '5.1', '19.2', '26.7', '18.7', '18.4', '29.3',
       '22.3', '22.4', '14.9', '17.6', '18.8', '23.3', '16.5', '18.3',
       '20.8', '26.2', '22.2', '20.5', '20.2', '50.5', '14.8', '31.4',
       '17.5', '18.1', '10.9', '30.4', '38.5', '19.4', '2.9', '4.3',
       '16.6', '13.4', '12.1', '17.8', '21', '21.3', '44', '16.9', '17',
       '19.8', '17.3', '14', '15.6', '25', '20.9', '10.4', '19.5', '16.7',
       '14.6', '16.3', '9.7', '35.2', '27.6', '9.8', '8.9', '14.1', '30',
       '34.5', '23', '11.3', '16.8', '6.8', '12.9', '14.7', '22.6', '16',
       '15', '13.6', '5.4', '18', '11.8', '12.2', '13.9', '19.3', '13.2',
       '11.6', '11.5', '13.7', '13.5', '7.4', '11', '20.7', '14.4',
       '10.6', '8.8', '26.1', '15.3', '18.5', '12.5', '11.7', '9.9',
       '9.4', '10.8', '11.4', '9.3', '12.8', '12.3', '12', '8.7', '10.7',
       '6.2', '10', '14.2', '7.3', '10.2', '13.1', '20.1', '9.1', '9.2',
       '13', '9.6', '13.3', '10.5', '11.1', '8.3', '11.2', '11.9', '8.5',
       '6.5', '8', '10.3', '10.1', '8.1', '9.5', '7.8', '7.2', '9', '6',
       '6.4', '6.1', '8.6', '8.4', '5.6', '6.9', '8.2', '5.5', '7.5',
       '6.7', '7.7', '7.9', '7.1', '6.3', '3.9', '3.3', '7.6', '4.1',
       '5.2', '4.9', '4.6', '4.5', '3.8', '3.2', '1.4'], dtype=object)

In [515]:
df['Mar'].nunique()

659

## April

In [516]:
df['Apr'].unique()

array(['113', '112.2', '71', '56.6', '52.9', '59', '71.7', '88.8', '63.3',
       '74.1', '69.2', '44.5', '133.4', '90.4', '81.4', '75.5', '74.2',
       '63.7', '46.5', '78.4', '60.4', '82.3', '54.9', '61.6', '57.3',
       '52.8', '60.3', '56.4', '93.5', '91.5', '60.9', '53.3', '75.9',
       '34.2', '52.1', '99.5', '64', '54.6', '43', '72.1', '119.3',
       '56.9', '62.3', '51.7', '64.8', '57.5', '51.8', '38.7', '64.3',
       '37.9', '89.5', '58.3', '66.3', '55', '41.2', '49.5', '38.8',
       '45.5', '27', '75.8', '50.3', '53.2', '79', '48.6', '69.6', '68.7',
       '36.6', '57.8', '35.2', '72.2', '68.9', '46.8', '18.9', '44',
       '26.2', '47.2', '44.3', '33.1', '61.8', '62.1', '119.8', '45.1',
       '50.6', '25.6', '66.5', '25.3', '72.9', '28.2', '34.3', '34.7',
       '55.2', '27.7', '68.5', '26.6', '99', '34.6', '38.9', '36.3',
       '51.9', '32.1', ' ', '73.2', '24.5', '44.4', '76.1', '52.4',
       '47.3', '74.5', '153.1', '51.1', '49.7', '41', '18.8', '50.1',
       '42.6', '53.4', '30.6', '41.8', '181.8', '18', '157', '49.4',
       '48.7', '38', '55.8', '47.5', '59.6', '43.7', '42.7', '43.4',
       '87.3', '48.1', '46.1', '115.6', '39.9', '45.6', '20.3', '56.7',
       '39.3', '48.2', '33.6', '49.1', '46.9', '41.9', '47.4', '63.9',
       '24.2', '40.2', '42.9', '45.7', '42.8', '43.2', '48.5', '51.4',
       '38.1', '15.9', '17.8', '41.6', '40.7', '30.3', '36.8', '21.1',
       '41.5', '47.7', '46.4', '193.5', '45.9', '42', '39.2', '43.5',
       '38.4', '35.3', '28.6', '51', '34.1', '140.3', '51.5', '39',
       '48.3', '34.8', '46.6', '46.7', '40.6', '39.8', '24.3', '45.8',
       '43.1', '33.4', '36', '43.8', '34.9', '27.4', '72.4', '43.6',
       '232', '29.5', '28.4', '35.6', '29.1', '80.9', '39.4', '35.9',
       '36.9', '40.9', '38.2', '37.6', '116.3', '40.5', '26', '21.2',
       '23.1', '52.7', '50.7', '40', '33.2', '40.3', '19.4', '31.8',
       '45.4', '40.4', '19.5', '40.8', '77', '128.2', '32', '35.1',
       '84.7', '32.3', '33.9', '30.5', '33.5', '47', '42.4', '21', '78.9',
       '104.9', '32.4', '51.2', '42.1', '27.9', '124.3', '10.9', '30.2',
       '134.8', '36.2', '31.4', '32.6', '40.1', '20.1', '31.6', '77.4',
       '58.7', '16.1', '20.7', '37.4', '39.6', '44.1', '29.6', '25.5',
       '37.1', '121.9', '129.9', '33.3', '41.7', '26.3', '27.8', '39.5',
       '37.3', '104.2', '26.4', '22.3', '27.3', '47.6', '107.9', '132.9',
       '28.8', '28.7', '30.1', '38.3', '122.1', '195.1', '36.5', '31.2',
       '96.8', '28.5', '140.7', '90.9', '28.9', '35.7', '48.8', '14.7',
       '35.5', '68.4', '31', '31.7', '28.1', '60.7', '45.2', '32.2',
       '17.1', '34.5', '27.6', '37.5', '26.1', '21.7', '24', '37.7',
       '35.4', '49.3', '168.8', '23', '36.4', '19.2', '116.2', '18.7',
       '70.2', '29.8', '124.5', '132.8', '27.1', '62.9', '83.9', '44.8',
       '17', '41.4', '30.9', '23.5', '26.8', '29.4', '119.6', '43.3',
       '42.2', '29.7', '120.9', '33', '24.4', '89.4', '44.2', '59.2',
       '123.7', '64.9', '20.4', '16.2', '21.9', '2.7', '93.9', '67',
       '138.1', '97.8', '43.9', '52.5', '74.6', '103.9', '34', '25',
       '95.3', '17.6', '109.1', '143.1', '48', '22.2', '48.9', '30.7',
       '45', '32.8', '83', '31.9', '13.1', '61', '96.5', '91.3', '37',
       '71.4', '46', '25.9', '113.6', '88.6', '24.9', '34.4', '22.1',
       '53.7', '26.7', '109.4', '76', '49.6', '10.6', '84.9', '65.1',
       '67.5', '19', '22', '24.6', '95', '35.8', '21.4', '39.7', '68.2',
       '33.7', '29.3', '38.5', '12.3', '36.1', '41.1', '32.5', '55.9',
       '22.8', '35', '14.5', '21.6', '67.6', '77.7', '18.5', '24.1',
       '31.1', '12.5', '20.8', '101.1', '13.5', '25.8', '16.4', '28',
       '25.7', '28.3', '23.4', '49.2', '18.4', '27.5', '66.7', '17.2',
       '14.2', '95.6', '14.9', '29', '24.8', '57.7', '54.8', '29.2',
       '55.4', '23.6', '53.1', '45.3', '15.4', '53.9', '23.2', '22.9',
       '27.2', '22.7', '26.9', '14.4', '23.8', '15.8', '11.7', '54',
       '49.8', '46.2', '42.5', '14.8', '15.6', '4.8', '52', '13.4',
       '14.1', '66.9', '30', '15.5', '17.7', '19.8', '19.3', '29.9',
       '25.2', '41.3', '46.3', '30.4', '11', '11.9', '18.3', '24.7',
       '26.5', '16.7', '25.1', '23.9', '17.5', '16.5', '20.6', '22.5',
       '21.8', '6.9', '22.4', '12.2', '39.1', '17.3', '21.3', '15',
       '20.5', '20.9', '66', '18.1', '12.4', '19.7', '78.2', '20', '18.6',
       '17.4', '20.2', '19.6', '18.2', '14.6', '16.8', '21.5', '4.7',
       '15.2', '5.6', '16.6', '15.3', '19.1', '12.6', '11.5', '13.9',
       '23.3', '19.9', '13.8', '33.8', '16.3', '32.7', '23.7', '17.9',
       '16', '8.8', '13.7', '10.3', '8.9', '7.4', '8', '14.3', '8.2',
       '12.9', '2.8', '5.5', '13.2', '13', '15.1', '10.8', '10.5', '13.6',
       '12.8', '8.1', '9.5', '13.3', '11.8', '8.5', '9.8', '9.1', '12',
       '16.9', '10.2', '12.1', '8.6', '12.7', '8.4', '7.5', '11.2',
       '15.7', '7.9', '10', '5.3', '9.4', '6.6', '14', '5.1', '9.9',
       '6.1', '5.8', '10.7', '10.4', '9', '11.3', '9.3', '11.1', '11.4',
       '11.6', '9.2', '9.7', '6.4', '4.3', '9.6', '10.1', '6.2', '6.5',
       '3.2', '7.7', '2.4', '5.9', '6', '3.3', '1.4'], dtype=object)

In [517]:
df['Apr'].nunique()

595

## May

In [518]:
df['May'].unique()

array(['109.3', '69.5', '67.4', '53.4', '52.4', '57.7', '59.8', '60.3',
       '60.7', '49.9', '59.5', '42.9', '88.2', '66.4', '77.7', '75.3',
       '63.3', '41.7', '61', '58.4', '62.2', '49.2', '52.7', '53.6',
       '44.4', '56.5', '63.7', '63.5', '50.6', '50.4', '72.7', '39',
       '46.3', '99.8', '36.7', '44.2', '45.7', '64.4', '66.9', '47.1',
       '94.2', '64.3', '74.1', '38', '50.8', '33', '55.9', '41.6', '67.8',
       '72.3', '55.8', '62.3', '30.6', '37.5', '36.2', '57.5', '45.4',
       '56.7', '52.1', '66.2', '51.1', '35.3', '50.5', '55.2', '43.6',
       '56', '34.3', '43.8', '54.8', '21.9', '37.2', '48.9', '26.8',
       '47.5', '52.2', '40.3', '51.8', '32.5', '41.5', '29.7', '21.8',
       '35.2', '29.4', '22.8', '55', '27', '33.5', '40.8', '34.2', '21.6',
       '35.8', '28', '39.3', '40.2', '71', '51.3', '41.9', '51.2', '22.9',
       '22.3', '38.4', '59.7', '45', '39.5', '46.5', '39.8', '36.8',
       '33.6', '40.7', '16.3', '23.1', '45.9', '30', '31.9', '18.6',
       '30.5', '30.1', '32.6', '39.1', '42.8', '35.6', '71.5', '49.3',
       '34.1', '39.7', '30.3', '47.4', '32', '42', '32.1', '19.8', '26',
       '16.8', '29.5', '33.2', '27.2', '15.1', '29.2', '33.9', '31.4',
       '25.8', '41.1', '24.7', '33.7', '25', '31.3', '27.6', '32.4',
       '31.8', '26.2', '34.8', '54.1', '14.2', '18.5', '30.8', '27.8',
       '30.7', '20.3', '37.1', '36.9', '33.4', '29.8', '34.4', '31.6',
       '37', '48.4', '22.5', '36.3', '32.7', '28.8', '26.3', '51', '30.9',
       '26.5', '33.3', '25.5', '21', '34.9', '29.9', '26.7', '3.5', '29',
       '36.1', '25.9', ' ', '21.4', '34.5', '49.8', '27.7', '33.8',
       '28.6', '28.9', '30.4', '38.5', '43.2', '32.9', '24.4', '39.4',
       '27.5', '29.3', '25.3', '29.1', '28.4', '45.2', '24.6', '21.5',
       '22.1', '30.2', '24.3', '27.9', '48.8', '25.1', '23.6', '40.6',
       '31', '28.3', '37.3', '27.3', '27.4', '32.2', '26.9', '31.5',
       '36.4', '28.2', '31.1', '21.3', '41.4', '35.4', '44.6', '25.4',
       '35.5', '20.8', '43.3', '28.5', '14.7', '17.6', '28.7', '48.5',
       '38.7', '23.8', '25.6', '26.4', '28.1', '31.7', '32.8', '27.1',
       '21.1', '20.2', '35.7', '36.5', '23.3', '19.3', '19.4', '20.1',
       '22.2', '44', '26.1', '25.2', '17.2', '21.7', '25.7', '24.2',
       '48.2', '46.1', '17.8', '11.9', '17', '22.6', '18.7', '34.6',
       '23.4', '19.1', '23.2', '24.1', '36', '47.6', '35', '3', '10.9',
       '24.8', '24.9', '13.4', '12.8', '23.9', '22.4', '26.6', '29.6',
       '34', '23', '22.7', '23.7', '16.5', '19.5', '19.7', '20.5', '15.3',
       '24', '18.2', '19.6', '14.6', '17.9', '18', '15.2', '8.7', '23.5',
       '10.6', '20.4', '20', '19.9', '18.4', '19.2', '38.1', '46.8', '22',
       '38.8', '12.3', '17.5', '12.6', '32.3', '21.2', '11.8', '9',
       '18.3', '18.9', '13', '17.1', '10.8', '16', '4.3', '16.6', '8.9',
       '15.8', '16.7', '16.1', '18.1', '20.7', '5.2', '20.9', '14.9',
       '19', '15.4', '9.3', '12.2', '20.6', '13.5', '8.2', '15', '10.5',
       '2.6', '18.8', '16.4', '14.3', '15.7', '14.4', '11.5', '10.2',
       '17.4', '13.3', '15.9', '11.7', '14.5', '15.5', '2.1', '12.4',
       '5.8', '17.3', '8', '13.7', '17.7', '14.1', '13.9', '14.8', '16.2',
       '15.6', '13.2', '16.9', '7.4', '11.4', '11.1', '12.9', '11.2',
       '7.1', '14', '3.2', '10.7', '13.8', '12', '8.5', '11', '7.6',
       '9.4', '13.6', '12.7', '12.5', '10.1', '11.6', '9.8', '12.1',
       '8.3', '11.3', '9.9', '10.3', '7.5', '6.5', '8.8', '9.1', '7.7',
       '9.7', '7.9', '6.6', '10.4', '9.2', '8.4', '7.3', '5.5', '9.5',
       '10', '9.6', '7', '8.6', '5.7', '6.4', '6.2', '5', '3.6', '7.8',
       '8.1', '6.3', '6.9', '6.8', '7.2', '6.7', '6.1', '6', '1.9', '5.9',
       '5.3', '4.5', '2', '4.4', '3.3', '2.7', '1.8', '1.5'], dtype=object)

In [519]:
df['May'].nunique()

444

## June

In [520]:
df['Jun'].unique()

array(['99', '51.3', '42.9', '53.9', '46.4', '40.1', '48.9', '43.6',
       '39.2', '34.7', '43.8', '97.1', '40.2', '43', '47.1', '56.1',
       '52.5', '30', '54.3', '38.8', '59.6', '27', '42.7', '49.3', '36.9',
       '35.5', '32.9', '58.6', '46.5', '35.6', '37.6', '31.7', '65.3',
       '20.8', '50.7', '31.4', '44.9', '53', '83.1', '62.4', '26.9', '42',
       '29.1', '28.1', '29.9', '49.8', '52.6', '42.4', '39.8', '61.2',
       '23.1', '33.2', '31.9', '41.8', '24.9', '53.3', '41.7', '38.5',
       '45.7', '30.7', '46.8', '43.5', '39.6', '33.3', '45.8', '44.4',
       '19.8', '31.3', '30.5', '53.1', '32', '34.2', '31.1', '26.7',
       '34.9', '27.5', '25.7', '36.5', '23', '37.4', '30.2', '29.5',
       '38.7', '40', '23.6', '37.5', '61.8', '33.1', '43.7', '27.7',
       '32.4', '23.3', '42.6', '30.4', '53.8', '38.4', '12.4', '32.7',
       '25.1', '35.4', '16.1', '42.1', '19.9', '34.3', '26.6', '11',
       '28.2', '21.7', '10.4', '23.4', '28.4', '32.8', '76.9', '36',
       '24.3', '35.3', '32.3', '22.3', '20.6', '24.5', '28.5', '24',
       '11.4', '25.2', '13.9', '22.6', '24.8', '23.7', '13.6', '22.2',
       '20.9', '24.7', '18.1', '36.7', '16.7', '26.5', '21.3', '23.8',
       '21.9', '21.5', '22', '27.9', '37.9', '13', '18', '21.1', '24.1',
       '45.1', '39', '21', '11.6', '24.2', '37.3', '28.9', '25.3', '33.9',
       '19.7', '17.2', '25.8', '10', '17.7', '17.6', '37', '20.2', '20.7',
       '20.1', '27.8', '17.1', '28', '26.1', '19.6', '45.9', '22.1',
       '15.7', '26', '18.4', '48.7', '22.9', '40.9', '21.4', '18.3', '31',
       '22.7', '27.1', '24.6', '20.5', '19.3', '7.1', '21.6', '18.6',
       '27.4', '21.8', '16.8', '26.2', '17.8', '15.1', '31.2', '29', '20',
       '22.4', '19.2', ' ', '18.9', '26.3', '28.7', '9.8', '35.1', '32.5',
       '16.3', '18.5', '43.1', '15.5', '12', '23.9', '26.8', '40.3',
       '29.7', '13.8', '19.5', '20.4', '18.8', '25.4', '35.2', '10.1',
       '16.4', '20.3', '27.3', '25.9', '11.8', '19', '22.8', '36.4',
       '10.5', '8.6', '33', '15', '36.8', '40.8', '12.2', '13.2', '19.4',
       '11.1', '8.4', '35.9', '21.2', '25.6', '14.2', '13.7', '8.7',
       '41.5', '25', '23.2', '29.8', '12.6', '8.8', '12.1', '9.2', '22.5',
       '12.9', '39.4', '4.8', '29.2', '7.8', '24.4', '30.6', '13.4',
       '32.6', '31.8', '3.3', '8.9', '18.7', '33.8', '6.9', '17', '32.1',
       '43.9', '12.5', '11.3', '15.4', '7.7', '16.9', '16.6', '8.3', '9',
       '17.5', '34.1', '11.5', '11.2', '9.7', '7', '8.2', '10.6', '8.5',
       '9.9', '17.3', '14.8', '8.1', '13.3', '12.3', '17.4', '15.8',
       '9.6', '33.4', '29.3', '16', '14.1', '16.5', '19.1', '13.5',
       '11.7', '15.3', '15.6', '15.9', '12.8', '12.7', '25.5', '10.2',
       '10.8', '18.2', '14.9', '16.2', '14.4', '10.3', '14', '9.4',
       '13.1', '14.5', '9.1', '8', '7.4', '9.3', '15.2', '14.7', '4.6',
       '6.6', '4.2', '31.6', '14.3', '4.7', '14.6', '6', '5.7', '5',
       '11.9', '7.6', '7.9', '7.3', '2.9', '5.9', '5.5', '4.3', '10.7',
       '1.5', '5.8', '5.3', '5.4', '5.2', '6.7', '6.5', '28.3', '7.5',
       '2.1', '7.2', '9.5', '6.1', '17.9', '3.7', '6.4', '6.8', '5.1',
       '4.4', '6.3', '10.9', '5.6', '6.2', '2.5', '4.9', '3.9', '3.6',
       '2', '4'], dtype=object)

In [521]:
df['Jun'].nunique()

381

## July

In [522]:
df['Jul'].unique()

array(['63.8', '46.6', '35.3', '63.2', '39.8', '31.7', '35.7', '16.7',
       '27.3', '17.7', '28.1', ' ', '81.5', '23.2', '26.9', '31.4',
       '50.7', '23.4', '33.9', '25.8', '29.6', '19.3', '23.6', '27.6',
       '31.6', '19.8', '19.1', '25.5', '32.9', '25.3', '28.2', '24.7',
       '35.5', '32', '10.3', '20.9', '31.1', '34.1', '32.2', '88.9',
       '58.7', '18.3', '28.7', '35.6', '32.8', '38.9', '64.4', '55.5',
       '36.6', '40.7', '30', '22.7', '33.7', '19.6', '58.2', '21.3', '24',
       '33.1', '18.5', '26.2', '20.6', '29', '34.5', '26.4', '42.7',
       '37.6', '20.1', '16.9', '47', '29.8', '48.2', '14.6', '30.8',
       '17.1', '41.7', '22.6', '21.6', '16.3', '16.1', '25.1', '21.9',
       '15.4', '32.1', '21.4', '54.3', '27', '31.2', '30.6', '70.1',
       '53.9', '28.5', '24.1', '47.9', '22', '25.4', '29.1', '15.7',
       '16.5', '70.3', '21', '7', '22.2', '29.2', '14.1', '33', '20.7',
       '21.1', '13.5', '6.6', '31.5', '4.5', '23.3', '22.8', '29.5',
       '76.6', '19.7', '23.9', '14', '19.9', '19.5', '27.8', '13.6',
       '12.5', '18.4', '32.4', '20.8', '15.8', '17.5', '13.1', '19.4',
       '16.2', '13.2', '23.1', '15.6', '12', '15.5', '16.8', '25.2',
       '43.1', '38.4', '55.9', '38.6', '6.7', '41.4', '18.8', '18', '11',
       '21.8', '18.7', '5.9', '14.4', '17.8', '18.9', '20.4', '17.9',
       '14.5', '33.3', '9.5', '26.5', '20.2', '22.1', '20.5', '10.9',
       '55.3', '59.9', '23.5', '21.2', '16', '24.3', '22.9', '20', '17.4',
       '27.9', '18.1', '15', '13.3', '27.5', '11.9', '13', '6', '14.2',
       '16.6', '26.6', '5.4', '27.7', '18.2', '23', '37.3', '16.4',
       '42.1', '26.3', '24.6', '17', '12.8', '10.8', '11.2', '38.7',
       '47.8', '15.9', '33.4', '5.1', '6.3', '14.8', '8', '7.8', '15.2',
       '36.4', '6.2', '4.6', '18.6', '31.8', '17.3', '12.2', '9.9',
       '34.6', '46.8', '22.5', '11.7', '10.6', '12.3', '6.5', '5.8',
       '14.9', '20.3', '21.7', '7.9', '26.7', '17.6', '12.1', '9.7',
       '27.4', '5.6', '40', '42', '14.7', '7.6', '9.4', '12.7', '5.7',
       '7.2', '7.1', '23.8', '10', '34.9', '36.9', '2.5', '22.4', '11.1',
       '15.3', '41.2', '4.9', '2.3', '12.9', '5.3', '3.8', '10.5', '11.3',
       '19.2', '9', '58.9', '25.6', '21.5', '8.7', '9.3', '15.1', '6.1',
       '4.7', '30.4', '10.1', '6.9', '4.3', '13.8', '13.7', '8.8', '7.4',
       '9.6', '11.5', '24.5', '9.2', '4.8', '13.9', '8.6', '28', '7.3',
       '11.6', '8.1', '11.4', '12.4', '10.4', '7.7', '82.7', '11.8',
       '31.3', '8.9', '12.6', '26', '8.2', '14.3', '28.9', '5.2', '8.3',
       '10.7', '8.4', '17.2', '10.2', '6.8', '8.5', '9.1', '2.6', '6.4',
       '9.8', '2.7', '7.5', '23.7', '3.6', '5', '22.3', '1.7', '4.4',
       '1.2', '78.6', '58.5', '19', '4', '4.1', '28.6', '3.4', '2.4',
       '3.3', '3.1', '4.2', '13.4', '5.5', '3', '3.9', '1.3', '2.1', '2',
       '1.5'], dtype=object)

In [523]:
df['Jul'].nunique()

339

## August

In [524]:
df['Aug'].unique()

array(['61.8', '60.2', '34.8', '59.7', '42.2', '35', '30.4', '24.3',
       '38.3', '27.6', '33.9', '38.9', '99.6', '32.4', '31.9', '41.7',
       '48.2', '39.9', '41.2', '38', '43.9', '38.8', '24.1', '44.8',
       '29.1', '32.8', '29.9', '28.9', '31.2', '55.9', '32.9', '28.8',
       '44', '30.7', '54.9', '20.3', '46.3', '36.6', '43.3', '42.3',
       '94.2', '74.2', '38.2', '33.3', '34.1', '63.1', '28.5', '26.1',
       '30.6', '57', '47.6', '51.4', '26.8', '36.1', '33', '11.5', '22.1',
       '35.2', '39.6', '27.4', '41.8', '44.3', '45', '38.6', '29.4',
       '35.3', '43.1', ' ', '43.4', '54.3', '33.2', '37.1', '17.6',
       '41.9', '27.5', '32', '24.2', '22', '20.1', '18.1', '20.4', '19.4',
       '30.1', '32.2', '41.6', '30.3', '50.6', '36.8', '73.8', '43.8',
       '35.7', '27', '51.8', '21.9', '39.5', '39.8', '19.6', '28', '75',
       '30.5', '10.8', '25.7', '32.7', '15.5', '44.4', '36.2', '20.6',
       '26', '31.3', '10', '39.4', '25', '7.5', '25.5', '28.7', '20.7',
       '60.4', '23.9', '35.1', '18.2', '15.1', '18.6', '23.6', '23.8',
       '19.1', '16.7', '12.6', '21.6', '23.4', '34.3', '27.8', '23',
       '23.2', '18.9', '22.2', '21.2', '20', '24.7', '19.9', '24.5',
       '22.9', '22.7', '24', '25.3', '22.5', '29.5', '27.9', '19.7',
       '15.2', '56.9', '27.7', '26.9', '9', '47.5', '23.1', '27.1',
       '33.1', '19', '26.7', '11.4', '18.8', '20.5', '23.5', '26.3',
       '22.6', '19.5', '21.5', '31.5', '9.8', '13.9', '16.5', '58.3',
       '28.2', '61.5', '14.4', '16.8', '18.3', '24.8', '6', '17.5',
       '20.9', '21.8', '8.5', '30.8', '25.4', '22.3', '21.4', '18.7',
       '19.2', '13.6', '17.1', '19.3', '54.2', '19.8', '15.3', '9.2',
       '22.4', '32.1', '30.9', '21.1', '22.8', '34.9', '21', '27.3',
       '15.8', '25.1', '52.7', '31.6', '9.4', '56.4', '18.5', '17',
       '24.6', '25.9', '21.7', '11.7', '17.8', '18.4', '54.6', '41',
       '11.1', '12.2', '16.3', '17.3', '13', '39.7', '89.8', '49.1',
       '8.7', '16', '39', '17.7', '12', '10.5', '8.1', '40.1', '16.9',
       '20.2', '57.8', '33.4', '7.9', '17.2', '14.3', '38.1', '17.4',
       '18', '14.8', '32.6', '9.6', '67.4', '32.3', '44.1', '25.8',
       '33.5', '16.4', '12.9', '11', '35.9', '13.4', '17.9', '7.6',
       '12.1', '33.6', '21.3', '31.7', '4.7', '10.9', '28.1', '4.6',
       '10.6', '40', '3.5', '8.9', '15.7', '5.3', '16.2', '13.3', '15.4',
       '24.9', '13.7', '20.8', '57.3', '7.4', '11.9', '13.5', '12.4',
       '10.1', '35.5', '9.7', '8.8', '7.2', '15.6', '14.9', '13.2', '9.9',
       '8.3', '8', '12.3', '14.2', '38.7', '28.4', '15.9', '14.7', '13.1',
       '23.3', '26.6', '15', '14', '16.1', '11.6', '14.5', '9.1', '13.8',
       '37.2', '40.8', '23.7', '8.4', '10.4', '11.3', '10.3', '14.6',
       '6.9', '7.8', '8.2', '12.7', '14.1', '10.2', '11.8', '10.7',
       '12.8', '11.2', '8.6', '4.2', '12.5', '4.9', '9.5', '6.2', '3.3',
       '29.7', '16.6', '7.3', '5.4', '5.7', '9.3', '6.3', '2.6', '6.1',
       '5.1', '5.6', '49', '6.4', '4.5', '7.7', '6.5', '7.1', '5.2',
       '6.7', '6.6', '30.2', '6.8', '5.8', '5.5', '2.3', '7', '2.2',
       '5.9', '4.1', '4', '4.4', '3.7', '3.1', '2.4', '3.8', '5', '4.3',
       '3.9', '1.8', '2.9', '4.8', '2.5', '3.4', '2.8', '3', '1.5'],
      dtype=object)

In [525]:
df['Aug'].nunique()

384

## September

In [526]:
df['Sep'].unique()

array(['71.5', '76.7', '39.7', '59.6', '53.8', '38', '54.7', '33.6',
       '33.9', '38.7', '46', '84.1', '31.2', '37.1', '53.7', '31.9',
       '49.1', '34.2', '36.5', '33.4', '32', '39', '37.6', '37.2', '47',
       '47.1', '34.1', '35.9', '52.8', '34.3', '28.7', '44.2', '35',
       '42.4', '40.1', '44', '73.9', '44.6', '30.5', '40.2', '48.4',
       '36.2', '30.4', '27.2', '43.5', '23.7', '35.6', '29.2', '25.5',
       '52.1', '25.4', '21.8', '40.6', '31.1', '27.3', '28.1', '22.4',
       '53.3', '36.9', '41.5', '94.1', '21.7', '39.3', '48.1', '58.5',
       '22.7', '38.1', '33.3', '24.4', '28.9', '24.2', '19', '27', '24.3',
       '43.2', '22.1', '37.5', '20.5', '39.2', '42.9', '30.1', '31.7',
       '60.7', '51.2', '30.9', '29.9', '25.8', '37.8', '58', '37.9',
       '24.9', '23.2', '63.1', '29.1', '10', '35.7', '34.6', '31.5',
       '14.6', '45.4', '25.6', '8.5', '55.4', '28.6', '4', '34.9', '31',
       '24.7', '51.4', '32.5', '33.5', '22.9', '29.7', '20.2', '21.2',
       '32.4', '35.4', '11.3', '13.4', '34', '27.4', '25', '40.8', '24.5',
       '23', '18.8', '22.3', '26.8', '36', '20.1', '34.5', '25.9', '26.9',
       '36.1', '31.3', '17.8', '13.3', '23.5', '39.8', '21.1', '40',
       '46.6', '15.9', '37', '42.6', '7.7', '29.5', '35.8', '26.5',
       '32.1', '6.5', '26.2', '36.6', '26', '22.2', '33', '23.3', '20.8',
       '29.3', '28.8', '33.8', '17.4', '29', '26.6', '34.4', '33.2',
       '16.8', '20.4', '16.3', '17.9', '53', '26.1', '30.8', '59.3',
       '31.6', '31.8', '17.1', '21', '17.3', '19.9', '21.4', '4.9',
       '26.3', '36.3', '31.4', '32.6', '27.5', '20.3', '34.8', '18.1',
       '23.8', '21.5', '14', '25.2', '43.1', '32.9', '27.1', '15.8',
       '17.2', '7.9', '19.5', '5.3', '21.9', '22.6', '7', '28.3', '23.6',
       '23.9', '12.2', '42.5', '6.8', '46.9', '16.6', '24', '20.6',
       '21.3', '17', '21.6', '51.5', '22.8', '36.8', '7.1', '8.8', '13.8',
       '19.3', '9', '19.1', '42.8', '5.5', '43.9', '16.4', '9.6', '18.4',
       '30.2', '11', '9.5', '28.2', '6.6', '6.4', '41.6', '15.1', '16',
       '15.4', '12', '59.1', '20.7', '22.5', '37.7', '42.2', '20.9',
       '16.2', '19.4', '14.9', '8.6', '16.9', '6.2', '12.3', '8.1', '9.2',
       '15.6', ' ', '18.3', '12.7', '19.8', '18.9', '14.5', '4.6', '5.9',
       '13.9', '2.8', '12.4', '16.1', '30.7', '5', '14.1', '9.1', '18',
       '10.8', '22', '24.1', '24.6', '19.6', '89.8', '10.6', '8.7', '7.3',
       '6.1', '38.8', '8.2', '7.8', '18.6', '8.3', '14.8', '28.5', '8.4',
       '10.7', '16.5', '13.2', '19.7', '18.2', '4.8', '5.6', '10.9',
       '10.5', '14.3', '10.2', '44.4', '15.7', '9.8', '18.7', '11.2',
       '23.4', '14.2', '12.1', '53.1', '79.9', '6.3', '20', '17.5',
       '12.8', '26.4', '11.9', '155.4', '23.1', '15.5', '38.3', '13.5',
       '17.6', '17.7', '10.1', '15.3', '11.8', '11.5', '24.8', '14.7',
       '16.7', '7.5', '14.4', '6.9', '11.4', '11.1', '11.6', '9.4',
       '12.9', '9.7', '7.6', '29.6', '9.9', '15.2', '13.7', '18.5', '15',
       '7.4', '13.6', '26.7', '2.2', '3.2', '4.4', '10.4', '3.5', '39.9',
       '35.3', '5.2', '13.1', '12.6', '10.3', '12.5', '25.7', '7.2',
       '8.9', '27.9', '13', '1.5', '6.7', '3', '33.7', '3.8', '49.4',
       '38.9', '11.7', '50.1', '5.4', '5.1', '9.3', '51.8', '4.7', '5.8',
       '4.3', '32.2', '1.8', '3.3', '3.7', '2.9', '3.1', '6', '8', '19.2',
       '1.1', '5.7', '4.5', '4.2', '3.9', '3.4', '4.1', '2.3', '2.4'],
      dtype=object)

In [527]:
df['Sep'].nunique()

406

## October

In [528]:
df['Oct'].unique()

array(['61.8', '76.4', '106.3', '110.4', '125.9', '94.7', '48.9', '41.8',
       '81.1', '63.9', '111.6', '70.4', '53.6', '49', '49.1', '100.9',
       '89.1', '59', '116.6', '61', '29.9', '78.1', '86.6', '74.9',
       '81.6', '82', '53.8', '98.5', '53.1', '90.9', '73.9', '79.4',
       '83.1', '75.1', '67.4', '56', '93.8', '54.2', '111.9', '48.2',
       '41.1', '80.8', '22.4', '44.3', '87.3', '85.6', '100.5', '60',
       '84.7', '68.5', '81.8', '31', '60.8', '76.1', '56.8', '73.6',
       '48.7', '99.3', '106.6', '74.1', '44', '89', '48.1', '60.1', '52',
       '47.3', '71.9', '55.6', '50', '54.8', '65.4', '55.1', '62.2',
       '61.6', '64.7', '38', '48.3', '35.1', '55.5', '35.4', '50.3',
       '40.8', '34.6', '40.4', '40', '39', '38.2', '58.3', '53.3', '42.6',
       '52.9', '56.7', '57.1', '54.7', '29.4', '68.3', '42.1', '47.4',
       '50.1', '52.6', '31.5', '63.8', '52.5', '57.6', '64.6', '65',
       '44.7', ' ', '60.2', '51.5', '52.4', '23.5', '51.2', '49.2',
       '36.5', '85.7', '44.6', '9.9', '52.1', '50.6', '9', '53.9', '46.9',
       '59.4', '51', '46.8', '54.5', '58.4', '76', '58.6', '27.3', '54.6',
       '13.5', '65.8', '51.7', '23.1', '39.3', '54.1', '56.6', '33.2',
       '49.7', '57.9', '39.2', '40.1', '39.4', '40.7', '55.7', '50.5',
       '38.3', '48.5', '47.5', '39.8', '29.1', '21.2', '56.9', '52.2',
       '41.7', '50.8', '69', '9.4', '42.8', '37.7', '57.7', '43.8', '30',
       '58.5', '8.1', '44.2', '26.9', '36.2', '61.5', '31.7', '46',
       '38.4', '49.8', '24', '48.6', '59.5', '47.2', '37', '43.5', '30.7',
       '27.6', '34.7', '45.7', '14.8', '23.6', '59.7', '36.4', '61.1',
       '48.8', '49.4', '35.2', '40.9', '48', '37.8', '38.8', '50.9',
       '30.9', '44.1', '63.2', '40.3', '50.7', '5.4', '42.5', '37.2',
       '41.6', '55.4', '36', '41.2', '63.6', '34.4', '39.7', '26.7',
       '38.9', '41', '49.6', '32.9', '40.5', '25.5', '22.1', '44.5',
       '36.7', '45.2', '34.9', '29.2', '56.5', '9.2', '47.9', '23.7',
       '33.1', '30.2', '21.3', '32.2', '36.6', '62.4', '10.7', '28.9',
       '24.5', '43.2', '37.5', '30.6', '39.6', '9.1', '33.5', '22.8',
       '42.2', '35.5', '25', '32.3', '27.5', '34.8', '33.4', '35.7',
       '24.7', '42.7', '9.5', '35.9', '29.8', '45.6', '22.5', '36.3',
       '8.8', '42.3', '37.3', '38.6', '40.6', '29.7', '28.3', '10.1',
       '10.6', '25.7', '46.1', '25.9', '8.9', '34', '29', '28.7', '54.9',
       '9.6', '50.2', '27.7', '30.5', '26.1', '24.2', '39.1', '38.5',
       '37.4', '22.3', '31.6', '30.1', '54.3', '15.6', '32.7', '35.8',
       '32.6', '27.8', '26.2', '34.2', '28.5', '8.2', '27', '10', '7.6',
       '10.9', '33.6', '30.3', '62.3', '27.9', '34.3', '31.8', '45.8',
       '29.6', '33.8', '26', '6.4', '19.4', '20.6', '17.9', '19.7',
       '62.7', '3.8', '26.8', '23.8', '30.4', '45.3', '23.4', '5.2',
       '21.1', '29.3', '21.4', '51.6', '25.3', '24.4', '31.2', '23.2',
       '137.5', '6.9', '8.7', '32.1', '32.4', '22.9', '5.3', '28.4',
       '21.6', '33.3', '28.1', '11.6', '5.1', '11.7', '20.4', '31.3',
       '31.4', '10.3', '49.3', '10.2', '18.7', '24.8', '7', '30.8', '8.6',
       '17.6', '25.6', '19.5', '12.8', '15.5', '21', '46.6', '22.7',
       '7.4', '28.2', '24.1', '32.5', '43.9', '23', '42', '18', '156',
       '14.1', '20.7', '24.9', '11.8', '20.9', '31.1', '25.2', '23.9',
       '16', '33.9', '25.4', '19.2', '24.6', '11.2', '21.5', '19.3',
       '15.1', '21.7', '21.8', '46.7', '28.6', '28.8', '19.8', '20.3',
       '41.9', '36.9', '14.4', '43.3', '17', '13.4', '18.2', '37.6',
       '25.1', '6.2', '17.5', '18.9', '52.8', '18.6', '13.6', '16.6',
       '15.2', '14.6', '17.7', '16.3', '12.2', '18.4', '17.4', '26.5',
       '14', '17.8', '19.6', '18.8', '20.1', '16.5', '17.2', '23.3',
       '20.5', '32.8', '20', '12.5', '29.5', '17.1', '17.3', '15.8',
       '4.6', '19.1', '25.8', '16.9', '13.3', '51.1', '19.9', '11.3',
       '16.1', '4.8', '15.9', '43', '26.3', '14.3', '13.1', '13.2',
       '13.7', '16.8', '24.3', '22.2', '33', '11.9', '22', '13.9', '18.1',
       '13.8', '12.3', '15.7', '21.9', '12.4', '14.2', '1.8', '18.3',
       '7.2', '105.4', '10.5', '16.7', '20.2', '12.7', '11.1', '28',
       '14.7', '1.7', '20.8', '18.5', '14.5', '16.4', '8', '19', '12',
       '15.3', '15', '16.2', '58.1', '8.3', '15.4', '60.3', '13', '12.9',
       '11.4', '7.1', '10.4', '14.9', '7.7', '36.8', '11.5', '9.3',
       '12.1', '11', '9.7', '10.8', '8.5', '5.8', '7.9', '12.6', '6.8',
       '5.6', '26.4', '4.9', '9.8', '3', '8.4', '6.6', '4', '7.8', '7.5',
       '4.2', '7.3', '6.1', '6.3', '6', '6.5', '1', '6.7', '5.7', '5.9',
       '2.1', '5.5', '5', '4.5', '2.7', '4.7', '3.7', '4.4', '4.3', '3.6',
       '3.4', '2.6', '1.5'], dtype=object)

In [529]:
df['Oct'].nunique()

551

## November

In [530]:
df['Nov'].unique()

array(['210.5', '126.9', '255.1', '253', '251', '234.7', '136.3', '115.8',
       '152', '134.1', '215.4', '196.8', '59.8', '97.6', '123.1', '122.2',
       '177.5', '145.8', '228.8', '138.5', '150.2', '157', '101.6',
       '193.1', '196.9', '122.4', '184.3', '103.3', '84.2', '185',
       '164.6', '155.8', '191.2', '119.4', '86.4', '67.1', '144.1',
       '179.6', '63.1', '81.1', '69.4', '12.9', '86.2', '58.6', '177.2',
       '166.3', '211.7', '172.3', '117.7', '70.1', '176.8', '114',
       '156.4', '210.2', '152.2', '113.5', '181', '197', '75.3', '90.3',
       '119.6', '78.1', '114.9', '83.3', '76.4', '92.7', '88.9', '86.8',
       '72.5', '143.4', '108.8', '91.9', '78.6', '82.1', '106.7', '69.6',
       '69.3', '75.4', '96.3', '97.5', '72.2', '116.9', '77.1', '67.7',
       '62.6', '68.2', ' ', '121', '123.2', '87.6', '77.5', '144.3',
       '97.3', '70.7', '53.9', '62.4', '69.1', '133.7', '97.1', '85.1',
       '44.4', '137.6', '58.3', '58', '82.5', '71.6', '38.4', '80.8',
       '44.3', '52.9', '104.7', '36.3', '59.3', '108.4', '57.8', '109.2',
       '84.5', '23.4', '85.8', '61.4', '7.6', '60.6', '60.2', '89.8',
       '74.1', '47.2', '60.3', '58.7', '55.3', '63.5', '83.9', '52.2',
       '46.1', '56.4', '79.7', '41.3', '127.3', '83.5', '37.1', '57.6',
       '49.4', '85.6', '49.5', '48.5', '48.2', '51.6', '51.3', '62.5',
       '52.5', '46.9', '51.1', '166.4', '100.7', '49.3', '49.1', '55.8',
       '50.2', '49.6', '51', '77.3', '43.7', '68.1', '32.3', '48.7',
       '50.1', '93.5', '44.1', '58.2', '91.3', '39.5', '46.5', '53.8',
       '16.1', '47.9', '71.8', '48.4', '84.4', '79.4', '64.4', '50.7',
       '46.7', '18.1', '46.4', '50.4', '51.7', '45.5', '69.8', '50.8',
       '49.2', '48.3', '51.8', '125', '46.2', '79.1', '53.1', '73.7',
       '43.4', '41.1', '52.7', '45', '55.1', '24.6', '121.6', '58.5',
       '121.7', '53', '32.7', '68.3', '47.1', '55.5', '42.1', '45.2',
       '42.2', '49.8', '52.4', '41.6', '50.3', '40.1', '43.1', '78.2',
       '45.7', '66.7', '102', '48.1', '43.8', '46', '36.9', '48.9',
       '43.2', '47.5', '44.6', '36.7', '37.2', '83.6', '52.8', '112.3',
       '39.8', '106.8', '48.6', '41.9', '90.5', '34.5', '22', '91.8',
       '42.8', '31.7', '32.9', '44', '38.6', '30.6', '52', '54.8', '35.2',
       '36.2', '88.8', '40.8', '20.2', '42.6', '51.5', '22.8', '53.3',
       '30.8', '103.5', '95.1', '13.7', '31.4', '34.3', '36.8', '44.5',
       '35.9', '43.9', '35', '72.3', '42', '42.7', '33.8', '39.4', '42.5',
       '38.1', '31.6', '30.1', '41.8', '17.9', '21', '37.7', '43.6',
       '40.4', '71.5', '15.8', '37.6', '41.5', '41.4', '35.8', '34.6',
       '41', '22.4', '55', '33.9', '18.2', '8.3', '29.7', '40', '42.4',
       '35.6', '35.7', '33.5', '14.5', '40.7', '30.7', '64.6', '18.9',
       '56.7', '48', '38.5', '66.8', '39.6', '56.3', '33.1', '44.9',
       '29.9', '40.6', '69', '38.7', '43.3', '34.7', '39.9', '39.2',
       '77.4', '61.1', '30.5', '15.5', '42.3', '40.2', '37', '17.4',
       '25.3', '28.4', '55.6', '17.2', '26.2', '18.7', '26.4', '73',
       '27.7', '25.9', '46.6', '32', '30', '35.4', '33.7', '33.6', '70',
       '14.8', '29.1', '46.8', '35.3', '0', '33.4', '27.5', '26.9',
       '37.8', '16.8', '32.1', '35.5', '36', '37.4', '30.2', '31.5',
       '21.9', '40.3', '30.4', '19.8', '23.2', '29.8', '39.7', '8.1',
       '16.7', '32.5', '25.7', '36.1', '53.6', '20.3', '15.9', '26.6',
       '37.3', '20.8', '31', '38.3', '9.3', '19.6', '31.8', '27.4',
       '36.6', '28.3', '33.2', '43', '65.2', '31.9', '17.6', '21.4',
       '29.4', '12.7', '20', '29.6', '26.5', '31.1', '14.2', '27.2',
       '17.5', '38', '20.7', '28.5', '20.4', '25.4', '29.2', '13.8',
       '50.9', '34.1', '34.9', '25.5', '19.2', '27.3', '47.4', '28.6',
       '32.8', '48.8', '17.3', '23.5', '24.1', '21.8', '28.1', '27.8',
       '28', '29.5', '36.5', '40.5', '18.6', '21.7', '31.2', '39', '23.6',
       '17.1', '18', '16.6', '29', '23.3', '33.3', '27.9', '40.9', '3.7',
       '21.3', '34.2', '19.5', '28.9', '29.3', '24.5', '34', '24.8',
       '19.9', '18.4', '26.1', '28.7', '22.6', '24.4', '22.5', '75.5',
       '11.5', '27.1', '18.5', '21.5', '22.2', '13', '19.1', '26.3',
       '21.2', '23.8', '27', '24.2', '20.5', '41.7', '26.8', '14.4',
       '11.4', '32.4', '15.2', '14.7', '20.9', '31.3', '45.9', '20.1',
       '24.3', '24', '25.2', '26.7', '21.1', '25.6', '19', '23', '38.2',
       '22.7', '9.9', '34.8', '27.6', '17', '17.7', '19.7', '26', '9.5',
       '16.3', '10.8', '14.6', '12.8', '22.1', '16', '28.2', '18.8',
       '11.3', '25', '16.5', '1.6', '7.1', '8.6', '13.1', '16.9', '15.7',
       '17.8', '21.6', '13.9', '56.1', '25.1', '15.6', '13.6', '12.5',
       '19.3', '11.1', '23.9', '3.3', '15.4', '12.6', '14.3', '14',
       '16.2', '13.3', '11.7', '22.9', '11', '12.1', '9', '19.4', '15.1',
       '24.9', '10.5', '22.3', '13.4', '10.4', '14.9', '16.4', '11.9',
       '12.2', '13.5', '7.8', '23.1', '8.2', '18.3', '8.4', '7', '10.9',
       '13.2', '11.8', '11.2', '6.5', '7.5', '10.6', '14.1', '12', '8.8',
       '10.3', '5.7', '9.8', '9.6', '7.2', '12.3', '10.7', '15.3', '15',
       '9.2', '6.3', '8', '11.6', '5.3', '7.4', '6', '10.2', '5.1', '5.8',
       '6.1', '1.5', '12.4', '10', '6.9', '7.9', '6.7', '7.3', '6.8',
       '8.9', '6.6', '6.4', '9.4', '4.4', '10.1', '6.2', '4.6', '9.7',
       '5.6', '4.9', '9.1', '5.5', '8.7', '8.5', '4.2', '1', '7.7', '5.9',
       '3.6', '5.4', '5', '1.4', '3.9', '4.1', '4.7', '4.5', '0.7', '3.1',
       '2.3'], dtype=object)

In [531]:
df['Nov'].unique()

array(['210.5', '126.9', '255.1', '253', '251', '234.7', '136.3', '115.8',
       '152', '134.1', '215.4', '196.8', '59.8', '97.6', '123.1', '122.2',
       '177.5', '145.8', '228.8', '138.5', '150.2', '157', '101.6',
       '193.1', '196.9', '122.4', '184.3', '103.3', '84.2', '185',
       '164.6', '155.8', '191.2', '119.4', '86.4', '67.1', '144.1',
       '179.6', '63.1', '81.1', '69.4', '12.9', '86.2', '58.6', '177.2',
       '166.3', '211.7', '172.3', '117.7', '70.1', '176.8', '114',
       '156.4', '210.2', '152.2', '113.5', '181', '197', '75.3', '90.3',
       '119.6', '78.1', '114.9', '83.3', '76.4', '92.7', '88.9', '86.8',
       '72.5', '143.4', '108.8', '91.9', '78.6', '82.1', '106.7', '69.6',
       '69.3', '75.4', '96.3', '97.5', '72.2', '116.9', '77.1', '67.7',
       '62.6', '68.2', ' ', '121', '123.2', '87.6', '77.5', '144.3',
       '97.3', '70.7', '53.9', '62.4', '69.1', '133.7', '97.1', '85.1',
       '44.4', '137.6', '58.3', '58', '82.5', '71.6', '38.4', '80.8',
       '44.3', '52.9', '104.7', '36.3', '59.3', '108.4', '57.8', '109.2',
       '84.5', '23.4', '85.8', '61.4', '7.6', '60.6', '60.2', '89.8',
       '74.1', '47.2', '60.3', '58.7', '55.3', '63.5', '83.9', '52.2',
       '46.1', '56.4', '79.7', '41.3', '127.3', '83.5', '37.1', '57.6',
       '49.4', '85.6', '49.5', '48.5', '48.2', '51.6', '51.3', '62.5',
       '52.5', '46.9', '51.1', '166.4', '100.7', '49.3', '49.1', '55.8',
       '50.2', '49.6', '51', '77.3', '43.7', '68.1', '32.3', '48.7',
       '50.1', '93.5', '44.1', '58.2', '91.3', '39.5', '46.5', '53.8',
       '16.1', '47.9', '71.8', '48.4', '84.4', '79.4', '64.4', '50.7',
       '46.7', '18.1', '46.4', '50.4', '51.7', '45.5', '69.8', '50.8',
       '49.2', '48.3', '51.8', '125', '46.2', '79.1', '53.1', '73.7',
       '43.4', '41.1', '52.7', '45', '55.1', '24.6', '121.6', '58.5',
       '121.7', '53', '32.7', '68.3', '47.1', '55.5', '42.1', '45.2',
       '42.2', '49.8', '52.4', '41.6', '50.3', '40.1', '43.1', '78.2',
       '45.7', '66.7', '102', '48.1', '43.8', '46', '36.9', '48.9',
       '43.2', '47.5', '44.6', '36.7', '37.2', '83.6', '52.8', '112.3',
       '39.8', '106.8', '48.6', '41.9', '90.5', '34.5', '22', '91.8',
       '42.8', '31.7', '32.9', '44', '38.6', '30.6', '52', '54.8', '35.2',
       '36.2', '88.8', '40.8', '20.2', '42.6', '51.5', '22.8', '53.3',
       '30.8', '103.5', '95.1', '13.7', '31.4', '34.3', '36.8', '44.5',
       '35.9', '43.9', '35', '72.3', '42', '42.7', '33.8', '39.4', '42.5',
       '38.1', '31.6', '30.1', '41.8', '17.9', '21', '37.7', '43.6',
       '40.4', '71.5', '15.8', '37.6', '41.5', '41.4', '35.8', '34.6',
       '41', '22.4', '55', '33.9', '18.2', '8.3', '29.7', '40', '42.4',
       '35.6', '35.7', '33.5', '14.5', '40.7', '30.7', '64.6', '18.9',
       '56.7', '48', '38.5', '66.8', '39.6', '56.3', '33.1', '44.9',
       '29.9', '40.6', '69', '38.7', '43.3', '34.7', '39.9', '39.2',
       '77.4', '61.1', '30.5', '15.5', '42.3', '40.2', '37', '17.4',
       '25.3', '28.4', '55.6', '17.2', '26.2', '18.7', '26.4', '73',
       '27.7', '25.9', '46.6', '32', '30', '35.4', '33.7', '33.6', '70',
       '14.8', '29.1', '46.8', '35.3', '0', '33.4', '27.5', '26.9',
       '37.8', '16.8', '32.1', '35.5', '36', '37.4', '30.2', '31.5',
       '21.9', '40.3', '30.4', '19.8', '23.2', '29.8', '39.7', '8.1',
       '16.7', '32.5', '25.7', '36.1', '53.6', '20.3', '15.9', '26.6',
       '37.3', '20.8', '31', '38.3', '9.3', '19.6', '31.8', '27.4',
       '36.6', '28.3', '33.2', '43', '65.2', '31.9', '17.6', '21.4',
       '29.4', '12.7', '20', '29.6', '26.5', '31.1', '14.2', '27.2',
       '17.5', '38', '20.7', '28.5', '20.4', '25.4', '29.2', '13.8',
       '50.9', '34.1', '34.9', '25.5', '19.2', '27.3', '47.4', '28.6',
       '32.8', '48.8', '17.3', '23.5', '24.1', '21.8', '28.1', '27.8',
       '28', '29.5', '36.5', '40.5', '18.6', '21.7', '31.2', '39', '23.6',
       '17.1', '18', '16.6', '29', '23.3', '33.3', '27.9', '40.9', '3.7',
       '21.3', '34.2', '19.5', '28.9', '29.3', '24.5', '34', '24.8',
       '19.9', '18.4', '26.1', '28.7', '22.6', '24.4', '22.5', '75.5',
       '11.5', '27.1', '18.5', '21.5', '22.2', '13', '19.1', '26.3',
       '21.2', '23.8', '27', '24.2', '20.5', '41.7', '26.8', '14.4',
       '11.4', '32.4', '15.2', '14.7', '20.9', '31.3', '45.9', '20.1',
       '24.3', '24', '25.2', '26.7', '21.1', '25.6', '19', '23', '38.2',
       '22.7', '9.9', '34.8', '27.6', '17', '17.7', '19.7', '26', '9.5',
       '16.3', '10.8', '14.6', '12.8', '22.1', '16', '28.2', '18.8',
       '11.3', '25', '16.5', '1.6', '7.1', '8.6', '13.1', '16.9', '15.7',
       '17.8', '21.6', '13.9', '56.1', '25.1', '15.6', '13.6', '12.5',
       '19.3', '11.1', '23.9', '3.3', '15.4', '12.6', '14.3', '14',
       '16.2', '13.3', '11.7', '22.9', '11', '12.1', '9', '19.4', '15.1',
       '24.9', '10.5', '22.3', '13.4', '10.4', '14.9', '16.4', '11.9',
       '12.2', '13.5', '7.8', '23.1', '8.2', '18.3', '8.4', '7', '10.9',
       '13.2', '11.8', '11.2', '6.5', '7.5', '10.6', '14.1', '12', '8.8',
       '10.3', '5.7', '9.8', '9.6', '7.2', '12.3', '10.7', '15.3', '15',
       '9.2', '6.3', '8', '11.6', '5.3', '7.4', '6', '10.2', '5.1', '5.8',
       '6.1', '1.5', '12.4', '10', '6.9', '7.9', '6.7', '7.3', '6.8',
       '8.9', '6.6', '6.4', '9.4', '4.4', '10.1', '6.2', '4.6', '9.7',
       '5.6', '4.9', '9.1', '5.5', '8.7', '8.5', '4.2', '1', '7.7', '5.9',
       '3.6', '5.4', '5', '1.4', '3.9', '4.1', '4.7', '4.5', '0.7', '3.1',
       '2.3'], dtype=object)

## December

In [532]:
df['Dec'].unique()

array(['285', '128', '210', '201.4', '197.5', '193.8', '77.6', '167.8',
       '156.1', '180.5', '142', '204.2', '93.8', '78.7', '75.5', '156.5',
       '129.3', '143.6', '176.8', '124.6', '142.7', '90.3', '201.3',
       '160.3', '146.6', '165.3', '163.4', '122.6', '112.9', '93.6',
       '138.4', '130.2', '122.5', '166.3', '149', '95.6', '150.4', '85',
       '118', '107.1', '83.3', '161.4', '61.2', '128.3', '102.1', '90.1',
       '111.6', '84.5', '98.2', '127.8', '36.5', '90.8', '97.4', '103.2',
       '89.3', '129.5', '93.1', '81.7', '106.6', '34.8', '66.9', '90.5',
       '88.3', '116.2', '73', '68.3', '82.2', '72.3', ' ', '74.6', '71.8',
       '94.4', '73.2', '89.2', '92.8', '139.7', '59.4', '83.7', '128.9',
       '138.3', '79.8', '100.1', '104.2', '61.1', '136.8', '76.2', '88.7',
       '64', '109.7', '112.2', '72.8', '123.5', '97.2', '112.8', '79.5',
       '138.1', '53.7', '90.9', '101.2', '77', '104.8', '77.3', '56.6',
       '73.9', '68.6', '88', '83.6', '51.6', '52.4', '65.7', '80.9',
       '84.9', '60.8', '92.2', '84.6', '72.9', '89.1', '31.7', '128.2',
       '77.7', '24', '67.5', '69.4', '62.7', '36.6', '49.5', '77.4',
       '54.9', '68.4', '72.4', '54.5', '64.5', '67.3', '95.3', '38.7',
       '102', '89.8', '86.8', '71.1', '57.6', '67.8', '77.1', '88.9',
       '78.6', '70.7', '75.1', '54.3', '97.6', '73.6', '64.6', '66.4',
       '85.9', '72.7', '66.5', '72.6', '65.2', '73.4', '113.6', '76.9',
       '70.8', '66', '61.6', '74', '54.1', '86.5', '66.7', '62.1', '33',
       '22.6', '61.4', '45.9', '54', '70.2', '92', '68', '53.8', '73.7',
       '71.4', '23.5', '66.1', '81', '71.6', '71.9', '65.4', '75.8',
       '71.2', '65.5', '70.6', '69.2', '129.2', '67', '62.5', '67.6',
       '80.1', '94.9', '136.4', '50.9', '61.8', '69.7', '28.9', '60.2',
       '44.3', '61.3', '48.6', '66.6', '70.5', '68.5', '51.5', '74.4',
       '67.7', '76.5', '88.1', '71.3', '51.8', '72.5', '68.1', '68.7',
       '59.1', '55.8', '80.5', '58.4', '56.2', '59.3', '63.4', '69.6',
       '60.7', '77.5', '63.7', '52.3', '85.7', '54.8', '79.1', '88.5',
       '51', '27.3', '73.8', '43.1', '33.7', '58.9', '60.5', '34.2',
       '64.3', '40.8', '68.2', '51.2', '50.2', '29.4', '70', '41.1',
       '58.5', '30.4', '81.5', '49.1', '80.4', '21.8', '39.5', '66.2',
       '41.8', '68.9', '72.1', '49.9', '61', '47.4', '50.3', '64.4',
       '61.7', '43.4', '61.5', '47.7', '55.5', '52.2', '60.6', '40.2',
       '41.7', '35.7', '23.8', '29.1', '78.4', '75.7', '54.6', '44.7',
       '62.8', '63.9', '75', '46.6', '58.6', '59.5', '47', '57.7', '59.2',
       '32.1', '35.2', '42.1', '60.4', '26.1', '9.9', '43.8', '58',
       '56.8', '19.7', '56.4', '46.3', '58.8', '23.7', '26.2', '42.3',
       '64.9', '50.6', '48.2', '46', '30.5', '40.5', '63.1', '69', '26.4',
       '50.8', '45.7', '25.8', '62.3', '43.2', '40.6', '47.3', '45.3',
       '57.3', '47.2', '20', '34.5', '58.7', '48.8', '82', '55.1', '24.3',
       '51.4', '36', '23.6', '25.6', '42', '12', '49.8', '41.9', '26.6',
       '42.9', '52', '34', '37.3', '53.9', '49.4', '53', '36.3', '19',
       '44.4', '48.7', '21.5', '57.8', '11.5', '24.8', '53.4', '27.8',
       '31.6', '17.4', '44.6', '64.7', '55', '25.2', '47.5', '40.7',
       '21.1', '63.3', '56.9', '26.7', '33.9', '43.5', '22', '24.7',
       '22.2', '40.9', '59.8', '20.7', '55.7', '52.1', '48.1', '71',
       '39.9', '27.2', '41.5', '58.1', '24.1', '59', '42.8', '28.5',
       '25.7', '14.5', '30.6', '43.6', '60.9', '25', '46.9', '53.5',
       '46.7', '23.9', '30.9', '39.4', '43', '26.8', '42.2', '39.7',
       '17.9', '28.7', '27.6', '38.8', '39.3', '48', '37.9', '39', '36.2',
       '37.2', '29.6', '37', '37.1', '57.5', '31.1', '38.2', '44.9',
       '15.4', '39.6', '46.2', '21.2', '24.5', '34.9', '50.4', '37.4',
       '13.7', '49.2', '32.9', '45.6', '26.3', '40.3', '46.4', '15.6',
       '24.2', '27.1', '34.7', '51.3', '14', '27.4', '46.1', '52.5',
       '53.2', '48.5', '40.4', '35.8', '38.5', '28', '20.1', '37.7',
       '32.7', '33.1', '38.9', '31.2', '16.8', '40.1', '20.2', '35.1',
       '24.4', '33.8', '37.8', '33.5', '36.8', '25.5', '28.8', '18',
       '29.3', '24.6', '51.7', '35.3', '27.7', '20.3', '27', '30.2',
       '25.9', '14.3', '34.4', '13.4', '30.1', '19.5', '26', '51.9',
       '32.4', '10.2', '18.9', '43.7', '20.6', '15.7', '27.9', '31.4',
       '36.1', '29.2', '45.4', '33.2', '32.8', '35.5', '40', '29.8',
       '22.5', '14.8', '28.3', '45.5', '47.6', '38.1', '44.5', '23',
       '28.6', '16', '37.5', '39.1', '31.5', '44.8', '25.3', '50', '31.8',
       '30.8', '33.3', '35.4', '34.1', '37.6', '19.3', '29.7', '28.1',
       '33.6', '32.5', '35.9', '15.8', '32.6', '12.7', '23.2', '21.9',
       '12.3', '26.5', '23.1', '38.6', '13.3', '21.7', '14.4', '13.5',
       '8.8', '19.1', '42.5', '32.3', '25.4', '32.2', '36.7', '7.2', '17',
       '20.4', '35.6', '19.9', '19.4', '1.6', '8.9', '7', '21.6', '11.1',
       '31.9', '42.6', '17.2', '18.4', '22.4', '17.1', '9.7', '21',
       '28.2', '22.7', '11.7', '11.9', '13.6', '15.3', '9.5', '10.3',
       '14.1', '18.5', '12.9', '9.1', '17.5', '20.8', '18.7', '22.3',
       '21.4', '18.3', '15.2', '16.9', '26.9', '12.4', '22.9', '20.5',
       '20.9', '14.6', '12.1', '55.4', '30', '15.1', '19.6', '10', '8.6',
       '18.6', '11.6', '12.5', '14.7', '15.9', '9.3', '10.5', '17.7',
       '7.3', '21.3', '18.8', '22.8', '23.4', '7.4', '10.9', '19.2',
       '24.9', '17.6', '13.9', '7.8', '80.3', '13.1', '17.8', '16.5',
       '6.1', '41.6', '9', '4', '6.7', '13', '18.2', '22.1', '16.4', '11',
       '6.2', '6.9', '7.7', '18.1', '14.2', '12.8', '29.5', '16.1', '15',
       '46.8', '15.5', '16.3', '5.6', '7.6', '6.4', '11.2', '16.7', '9.4',
       '12.6', '6.6', '7.5', '14.9', '10.6', '5.5', '4.5', '13.2', '8.1',
       '11.3', '10.4', '6.3', '6.5', '9.6', '11.8', '8.3', '7.1', '9.8',
       '6', '4.2', '6.8', '16.2', '10.8', '11.4', '9.2', '8.7', '8.5',
       '10.1', '8', '12.2', '8.2', '10.7', '5.7', '8.4', '13.8', '4.8',
       '1', '7.9', '5.1', '4.3', '5.8', '5.9', '5.3', '5', '5.2', '4.9',
       '5.4', '3', '4.4', '4.7', '4.6', '1.3', '4.1', '1.5', '3.7', '3.9',
       '2.8', '2.3'], dtype=object)

In [533]:
df['Dec'].nunique()

713

# Cleaning of DATA

There are two methods that the data set can be cleaned. 
1. The first method is to remove the rows with missing values. 
2. The second method is to fill the missing values with the mean/median of the column.

But first, the data types must first be converted to float because the data types are currently objects

Create **Array** for month columns

In [534]:
monthly_columns = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

Convert **Monthly_Columns** data type into numerical data types and
make sure to coerce missing/mismatched values into **NaN**

In [535]:
monthly_columns = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
df[monthly_columns] = df[monthly_columns].apply(pd.to_numeric, errors='coerce')

Check Data types and **NaN** values

In [536]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2164 entries, 0 to 2163
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2164 non-null   int64
 1   City     2164 non-null   object
 2   Country  2164 non-null   object
 3   Year     2164 non-null   float64
 4   Jan      2077 non-null   float64
 5   Feb      2098 non-null   float64
 6   Mar      2131 non-null   float64
 7   Apr      2155 non-null   float64
 8   May      2106 non-null   float64
 9   Jun      2158 non-null   float64
 10  Jul      2160 non-null   float64
 11  Aug      2153 non-null   float64
 12  Sep      2153 non-null   float64
 13  Oct      2133 non-null   float64
 14  Nov      2073 non-null   float64
 15  Dec      2113 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 270.6+ KB

In [537]:
print(df[monthly_columns].isnull().sum())

Jan    87
Feb    66
Mar    33
Apr     9
May    58
Jun     6
Jul     4
Aug    11
Sep    11
Oct    31
Nov    91
Dec    51
dtype: int64

Now That data type objects for the monthly columns have been converted into numerical data types, it is now time to clean the data set with one of the two methods that have been mentioned recently.

The second method seems to be more appropriate for this specific kind of scenario because the missing/mismatched data can be inputted with the Mean/Median of the certain column in order to utilize all of the data while having *minimal effect* as opposed to completely erasing that specific row rendering **All** of the data to be **unused**.

## Replacing **NaN** values with *Median*

The reason there are **NaN** values may mean that the equipment that day performed to be faulty and was unable to get an accurate translation of the data into the *API/AQI* for that specific month/period

We replace values with the Median instead of the Mean to account for extreme values for each City.

Create a copy of the data set

In [538]:
df_x=df

df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2164 entries, 0 to 2163
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2164 non-null   int64
 1   City     2164 non-null   object
 2   Country  2164 non-null   object
 3   Year     2164 non-null   float64
 4   Jan      2077 non-null   float64
 5   Feb      2098 non-null   float64
 6   Mar      2131 non-null   float64
 7   Apr      2155 non-null   float64
 8   May      2106 non-null   float64
 9   Jun      2158 non-null   float64
 10  Jul      2160 non-null   float64
 11  Aug      2153 non-null   float64
 12  Sep      2153 non-null   float64
 13  Oct      2133 non-null   float64
 14  Nov      2073 non-null   float64
 15  Dec      2113 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 270.6+ KB

In [539]:
df_x.head()

,Rank,City,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1,Begusarai,India,118.9,31.2,235.3,156.8,113.0,109.3,99.0,63.8,61.8,71.5,61.8,210.5,285.0
1,2,Guwahati,India,105.4,220.2,168.1,129.2,112.2,69.5,51.3,46.6,60.2,76.7,76.4,126.9,128.0
2,3,Delhi,India,102.1,171.8,114.3,77.4,71.0,67.4,42.9,35.3,34.8,39.7,106.3,255.1,210.0
3,4,Mullanpur,India,100.4,106.3,123.7,78.1,56.6,53.4,53.9,63.2,59.7,59.6,110.4,253.0,201.4
4,5,Lahore,Pakistan,99.5,143.2,117.3,73.8,52.9,52.4,46.4,39.8,42.2,53.8,125.9,251.0,197.5

in order to replace the **NaN** with the Median for that certain city/country, the **Lambda function** will be utilized.

Order of replacing:
1. City
2. Country
3. Global Median - this is due to some countries being distinct and acts as a general fallback should there be remaining invalid values. This would only apply to very little spaces so the difference is negligible.

In [540]:
df_x[monthly_columns] = df_x.groupby("City")[monthly_columns].transform(lambda x: x.fillna(x.mean()))
df_x[monthly_columns] = df_x.groupby("Country")[monthly_columns].transform(lambda x: x.fillna(x.median()))
df_x[monthly_columns] = df_x[monthly_columns].fillna(df[monthly_columns].median())
df_x[monthly_columns] = df[monthly_columns].round(2)
df_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2164 entries, 0 to 2163
Data columns (total 16 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rank     2164 non-null   int64
 1   City     2164 non-null   object
 2   Country  2164 non-null   object
 3   Year     2164 non-null   float64
 4   Jan      2164 non-null   float64
 5   Feb      2164 non-null   float64
 6   Mar      2164 non-null   float64
 7   Apr      2164 non-null   float64
 8   May      2164 non-null   float64
 9   Jun      2164 non-null   float64
 10  Jul      2164 non-null   float64
 11  Aug      2164 non-null   float64
 12  Sep      2164 non-null   float64
 13  Oct      2164 non-null   float64
 14  Nov      2164 non-null   float64
 15  Dec      2164 non-null   float64
dtypes: float64(13), int64(1), object(2)
memory usage: 270.6+ KB

Check for **NaN** values

In [541]:
print(df_x[monthly_columns].isnull().sum())

Jan    0
Feb    0
Mar    0
Apr    0
May    0
Jun    0
Jul    0
Aug    0
Sep    0
Oct    0
Nov    0
Dec    0
dtype: int64

## Saving Cleaned Dataset

Now that the data set has been cleaned, it is not time to Save it into a folder to use for Exploratory Data Analysis.

In [542]:
df_x.to_csv(r"C:\Users\ASUS\Documents\skool\Skool Works\MATHEDA Medel\Medel Endterm\Raw Datasets\AirQuality Dataset Cleaned.csv", index=False)